<div class="container cart">
	<div class="row m-b-10">
		<div class="title col-md-10">Bag {{totalQuantity}} itme(s) : {{itemsSubTotal | currency:'£'}}</div>
		<div class="title col-md-2">
			<button type="button" class="btn btn-md pull-right btn-checkout" ng-click="checkout()">Checkout</button>
		</div>
	</div>

     <div class="row">
          <div ng-repeat="cartItem in cartItems">
               <div class = "col-xs-12 col-sm-6">
                    <div class="row"> 
                         <div class="col-xs-6">
                              <a href="#!/products/{{cartItem.code}}"><img class="img-responsive thumbnail" ng-src="{{cartItem.thumbnail}}"></a>
                         </div>
                         <div class="col-xs-6">
                              <div class="row">
                                   <div class="col-xs-12">
                                        <a href="#!/products/{{cartItem.code}}"><span class="product-name">{{cartItem.name}}</span></a>
                                   </div>
                              </div>
                              <div class="row m-b-05">
                                   <div class="col-xs-12">
                                        <span class="product-sku">#{{cartItem.sku}}</span>
                                   </div>
                              </div>
                              <div class="row m-b-02">
                                   <div class="col-xs-12">
                                        <span class="product-desc">{{cartItem.description}}</span>
                                   </div>
                              </div>
                              <div class="row m-b-02">
                                   <div class="col-xs-12">
                                        <span style="color:grey" class="fw-light">Price (each):&nbsp&nbsp</span>{{cartItem.price | currency:'£'}}
                                   </div>
                              </div>
                              <div class="row m-b-02">
                                   <div class="col-xs-12">
                                        <span style="color:grey" class="fw-light">Qty:&nbsp&nbsp</span><select ng-model="cartItem.quantity" ng-options="n for n in [1,2,3,4,5,6,7,8,9,10]" ng-change="updateItem(cartItem)" ng-model-options="{updateOn:'default blur', debounce:{default: 1000, blur: 500}}"></select>
                                   </div>
                              </div>
                              <div class="row m-b-05">
                                   <div class="col-xs-12">
                                        <span style="color:grey" class="fw-light">Sub-total:&nbsp&nbsp</span>{{cartItem.price * cartItem.quantity | currency:'£'}}
                                   </div>
                              </div>
                              <div class="row">
                                   <div class="col-xs-12">
                                        <a href ng-click="removeItem(cartItem)">Remove</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col-md-6">
               <div class="panel panel-default">
                    <div class="panel-heading" style="color:#45555f; font-weight: bold;">派递方式</div>
                    <div class="panel-body">
                         <div class = "btn-group full-length">
                              <button class="btn btn-default full-length dropdown-toggle" data-toggle="dropdown">
                                   选择我的派递方式 <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                   <li><a href="#">Free Delivery</a></li>
                                   <li><a href="#">Next Day Delivery - £3</a></li>
                                   <li><a href="#">Weekend Delivery - £5</a></li>
                              </ul>
                         </div>
                         <div class='pull-right margin-top info'><a href="#">派递方式详细?</a></div>
                    </div>
               </div>
          </div>
          <div class="col-md-6">
               <div class="panel panel-default">
                    <div class="panel-heading" style="color:#45555f; font-weight: bold;">折价券</div>
                    <div class="panel-body">
                         <div class = "btn-group full-length">
                              <button class="btn btn-default full-length dropdown-toggle" data-toggle="dropdown">
                                   选择我的折价券 <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                   <li><a href="#">Buy one get one free</a></li>
                                   <li><a href="#">Save £5 if you spend more than £40</a></li>
                                   <li><a href="#">Buy over £50, free shipping</a></li>
                              </ul>
                         </div>
                         <div class='pull-right margin-top info'><a href="#">怎样获得更多折价券?</a></div>
                    </div>
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col-md-6">
               <img class="pay" ng-src="/images/paypal.jpg" title="Paypal支付">
               <img class="pay" ng-src="/images/alipay.png" title="支付宝支付">
               <img class="pay" ng-src="/images/cash.png" title="到货现金支付">
          </div>
          <div class="col-md-6">
               <div class="panel panel-default">
                    <div class="panel-heading" style="color:#45555f; font-weight: bold;">
                         <div class="text-right">待付(含运费): £100</div>
                    </div>
               </div>
          </div>
     </div>     
     <div class="row">
          <div class="title col-md-2">
               <button type="button" class="btn btn-checkout">继续购物</button>
          </div>
          <div class="title col-md-8"></div>
          <div class="title col-md-2">
               <button type="button" class="btn btn-checkout" ng-click="checkout()">结帐</button>
          </div>
     </div>
</div>
