<div class="container">
    <div ng-show="validating" class="m-t-05 m-b-05 fs-20" style="text-align: center;">
        <i class="glyphicon glyphicon-refresh spinning"></i>
    </div>
    <div ng-hide="validating" class="row">
        <div class="col-sm-6 col-md-4">
            <form name="form" ng-submit="form.$valid && submit(password, token)">
                <h3>Set new password</h3>
                <div class="form-group" ng-class="{'has-error': form.password.$invalid && (form.password.$touched || form.$submitted)}">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" ng-model="password" ng-minlength="8" ng-maxlength="50" ng-pattern="/(?=.*\d)(?=.*[a-zA-Z])/" placeholder="Enter Password" required>
                    <div id="passwordMsg" ng-show="form.password.$touched || form.$submitted">
                        <p ng-show="form.password.$error.required" class="help-block">
                            Password is missing. Please check and try again.
                        </p>
                        <p ng-show="form.password.$error.minlength" class="help-block">
                            Sorry, that password is too short. It needs to be eight characters or more.
                        </p>
                        <p ng-show="form.password.$error.maxlength" class="help-block">
                            Sorry, that password is too long. It can’t be more than 50 characters.
                        </p>
                        <p ng-show="form.password.$error.pattern" class="help-block">
                            Pasword must contain a letter and a number.
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.confirmPassword.$invalid && (form.confirmPassword.$touched || form.$submitted) }">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" ng-model="confirmPassword" password-match="password" placeholder="Confirm password" required>
                    <div id="confirmPasswordMsg" ng-show="form.confirmPassword.$touched || form.$submitted">
                        <p ng-show="form.confirmPassword.$error.required" class="help-block">
                            Please confirm your password.
                        </p>
                        <p ng-show="!form.confirmPassword.$error.required && form.confirmPassword.$error.unique" class="help-block">
                            Password does not match.
                        </p>
                    </div>
                </div>
                <button id="submitBtn" type="submit" class="btn btn-block btn-style-primary m-b-10">
                    <span ng-show="submitting"><i class="glyphicon glyphicon-refresh spinning"></i>&nbsp;</span>Reset password
                </button>
            </form>
        </div>
    </div>
</div>