<div class="container">
    <div class="row p-t-15 p-l-25 p-r-25">
        <div class="m-b-05 color-grey">Questions & Feedback ({{data.size}})</div>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" ng-model="search" ng-model-options="{ debounce: 1000 }" ng-change="filterFeedback()" placeholder="Type your questions or keyword">
            <span class="input-group-btn">
                <button class="btn btn-default dropdown-toggle" style="background-color: #f0c14b;" type="button" data-toggle="dropdown">
                    {{sort.display}}&nbsp;&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="m-l-05"><a href="" ng-click="sortBy('Newest First', 'date.desc')">Newest First</a></li>
                    <li class="m-l-05"><a href="" ng-click="sortBy('Most Helpful first', 'vote.desc')">Most Helpful first</a></li>
                </ul>
            </span>
        </div>
    </div>
    <div ng-show="loading" class="row m-t-10 m-b-10 fs-20" style="text-align: center;">
        <span><i class="glyphicon glyphicon-refresh spinning"></i></span>
    </div>
    <div ng-hide="loading || data.size > 0" class="row p-25">
        <postfeedback seeallbutton=false></postfeedback>
    </div>
    <div ng-hide="loading" class="row p-25" ng-repeat="item in data.comment">
        <div class="col-xs-12 underline">
            <span class="color-grey pull-right">{{item.creationTime | date:'yyyy-MM-dd @ h:mma'}}</span>
        </div>
        <div class="col-xs-12 p-b-10 p-t-10">
            <span class="color-cream-can fw-bold">Q: </span>
            <span class="color-grey">{{item.comment}}</span>
        </div>
        <div class="col-xs-12 p-b-10" ng-repeat="response in item.responses">
            <span class="color-tiffany-green fw-bold">A: </span>
            <span class="color-grey">{{response.response}}</span>
        </div>
        <div class="col-xs-12">
            <span ng-hide="voting[$index]" class="glyphicon glyphicon-thumbs-up color-grey fs-11" style="display: table-cell; vertical-align: middle; cursor: pointer;" ng-click="voteUp(item.id, $index)"></span>
            <span ng-show="voting[$index]" class="glyphicon glyphicon-refresh spinning color-grey fs-11" style="display: table-cell; vertical-align: middle;"></span>
            <span class="color-grey" style="display: table-cell; vertical-align: middle; padding-left: 8px">{{item.vote}}</span>
        </div>
    </div>
    <div ng-show="showLoadMoreButton" class="row m-b-10" style="text-align: center;">
        <button class="btn btn-default btn-style-primary" type="button" ng-click="loadMore()">
            <span ng-show="loadingMore"><i class="glyphicon glyphicon-refresh spinning"></i></span>
            <span ng-hide="loadingMore"><i class="glyphicon glyphicon-refresh"></i></span> &nbsp;Load more&nbsp;
        </button>
    </div>
</div>