<div class="navbar navbar-default navbar-fixed-top" id="branding-container">
    <div class="container">
        <span class="p-t-20" style="display: inline-block; height: 100%; vertical-align: middle;">
            <a href="#!/checkout/delivery" style="color: #000;">&lt; Return to Delivery</a>
        </span>
        <span class="p-t-05 p-b-05 pull-right" style="display: inline-block; height: 100%; vertical-align: middle;">
            <img src="/images/logo_yellow.png" style="max-height: 40px;">
        </span>
    </div>
</div>