<div class="navbar navbar-default navbar-fixed-top" id="branding-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 p-t-20 p-b-05">
                <a href="#!/cart" style="color: #000;">&lt; Return to basket</a>
            </div>
            <div class="col-xs-4 p-t-05 p-b-05" style="text-align: center;">
                <img src="/images/isaac_logo.png" style="max-height: 40px;">
            </div>
            <div class="col-xs-4 p-t-05 p-b-05" style="text-align: right;">
                <img src="/images/norton-security.png" style="max-height: 40px;">           
            </div>
        </div>
    </div>
</div>