<div class = "footer">
	<div class = "footerContent section">
		<div class="footerColumn">
			<h3>Products</h3>
			<ul>
				<li>New in store</li>
				<li>Current offers</li>
			</ul>
		</div>     
		<div class="footerColumn">
			<h3>Questions and Contact</h3>
			<ul>
				<li>Customer service</li>
				<li>Terms</li>
				<li>Faq</li>
				<li>Contact</li>
			</ul>
		</div>  
		<div class="footerColumn">
			<h3>Connect with us</h3>
			<ul>
				<li>Facebook</li>
				<li>Twitter</li>
				<li>Blog</li>
				<li>Newsletter</li>
			</ul>
		</div>  
		<div class="footerColumn">
			<h3>About us</h3>
			<ul>
				<li>About Albert & Lynette</li>
			</ul>
		</div>   
	</div>
</div>