<div class="footer">
    <div class="container p-t-15 p-b-15">
        <div class="row">
            <div class="col-xs-12">
                <div class="m-b-15" style="text-align: center;">
                    <a href="https://www.facebook.com/NoodleMonsterUk" target="_blank" style="color:#4267b2;">
                        <i class="fa fa-facebook-square fa-2x m-r-05" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCtq0jIKXjT9ny1nvxyUi-CQ" target="_blank" style="color:#ff0000;">
                        <i class="fa fa-youtube-play fa-2x m-r-05" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-12">
                <div style="text-align: center;">
                    <a href="blog" class="link-secondary" style="margin-top: 4px;">Blog</a>
                    <div style="border-right: 1px solid #f2f2f2; margin-left: 20px; display: inline; height: 29px;"></div>
                    <a href="feedback" class="link-secondary" style="margin-left: 20px; margin-top: 4px;">FAQ</a>
                    <div style="border-right: 1px solid #f2f2f2; margin-left: 20px; display: inline; height: 29px;"></div>
                    <a href="contact-us" class="link-secondary" style="margin-left: 20px; margin-top: 4px;">Contact us</a>
                </div>
            </div>
        </div>
        <div class="row m-t-15">
            <div class="fs-08" style="text-align: center; color: #b3b3b3;">
                @ 2021 Noodle Monster Limited
            </div>
        </div>
    </div>
</div>
