<div class="footer">
    <div class="container p-t-15 p-b-15">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row hidden-md hidden-lg m-b-15" style="text-align: center;">
                    <div class="col-xs-12">
                        <i class="fab fa-weixin fa-2x m-r-05" aria-hidden="true"></i>
                        <i class="fab fa-weibo fa-2x m-r-05" aria-hidden="true"></i>
                        <i class="fab fa-twitter fa-2x m-r-05" aria-hidden="true"></i>
                        <i class="fab fa-instagram fa-2x m-r-05" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row hidden-xs hidden-sm">
                    <div class="col-xs-12">
                        <i class="fab fa-weixin fa-2x m-r-05" aria-hidden="true"></i>
                        <i class="fab fa-weibo fa-2x m-r-05" aria-hidden="true"></i>
                        <i class="fab fa-twitter fa-2x m-r-05" aria-hidden="true"></i>
                        <i class="fab fa-instagram fa-2x m-r-05" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row" style="text-align: center;">
                    <div class="col-xs-12">
                        <a href="" class="link-secondary" style="margin-left: 20px; margin-top: 4px;">About us</a>
                        <div style="border-right: 1px solid #f2f2f2; margin-left: 20px; display: inline; height: 29px"></div>
                        <a href="" class="link-secondary" style="margin-left: 20px; margin-top: 4px;">Contact us</a>
                        <div style="border-right: 1px solid #f2f2f2; margin-left: 20px; display: inline; height: 29px"></div>
                        <a href="#!/feedback" class="link-secondary" style="margin-left: 20px; margin-top: 4px;">FAQ</a>
                        <div style="border-right: 1px solid #f2f2f2; margin-left: 20px; display: inline; height: 29px"></div>
                        <a href="" class="link-secondary" style="margin-left: 20px; margin-top: 4px;">News</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-15">
            <div class="fs-08" style="text-align: center; color: #b3b3b3;">
                @ 2020 Noodle-Monster. INC.
            </div>
        </div>
    </div>
</div>