<div class="p-05 underline">
    <span class="glyphicon glyphicon-fire fw-bold fs-12" ng-class="$ctrl.titlecolor"></span>&nbsp&nbsp
    <span class="fw-bold fs-15" ng-class="$ctrl.titlecolor">{{$ctrl.title}}</span>
</div>
<div class="p-05 underline">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href ng-click="refresh()">全站</a></li>
        <li role="presentation"><a href ng-click="refresh('ls')">零食</a></li>
        <li role="presentation"><a href ng-click="refresh('yl')">饮料</a></li>
    </ul>
</div>
<div class="row auto-clear product-list" ng-class="loading">
    <div ng-repeat="product in products | limitTo:6" class="col-lg-2 col-md-3 col-sm-4 col-xs-6 p-b-20">
        <a href="#!/products/{{product.code}}"><img class="img-responsive" ng-src="{{product.imageUrl}}"></a>
        <div>
            <span class="fs-16 fw-bold" ng-class="{'color-valencia': product.onSale}">{{product.price | currency:"£"}}</span>
            <span ng-show="product.onSale" class="fs-12 m-l-05 text-line-through">{{product.originalPrice | currency:"£"}}</span>
        </div>
        <a href="#!/products/{{product.code}}"><span class="color-emperor fs-10">{{product.name}}</span></a>
    </div>
</div>
<div class="p-b-20">
    <span class="pull-right"><a href="#!/category/mzg">VIEW MORE</a></span>
</div>