<div class="p-05 underline">
    <img src="{{$ctrl.icon}}" style="width: 30px; height: 30px; vertical-align: middle;">
    <span class="fw-bold fs-15" ng-class="$ctrl.color" style="vertical-align: middle;">{{$ctrl.title}}</span>
</div>
<div class="p-05 underline">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href ng-click="refresh()">All</a></li>
        <li role="presentation" ng-repeat="category in $ctrl.categories">
            <a href ng-click="refresh(category.code)">{{category.name}}</a>
        </li>
    </ul>
</div>
<div ng-show="products.length>0" class="row auto-clear product-list" ng-class="loading">
    <div ng-repeat="product in products | limitTo:6" class="col-lg-2 col-md-3 col-sm-4 col-xs-6 p-b-20">
        <a href="products/{{product.code}}"><img class="img-responsive" ng-src="{{product.imageUrl}}"></a>
        <div>
            <span class="fs-16 fw-bold" ng-class="{'color-valencia': product.onSale}">{{product.price | currency:"£"}}</span>
            <span ng-show="product.onSale" class="fs-12 m-l-05 text-line-through">{{product.originalPrice | currency:"£"}}</span>
        </div>
        <a href="products/{{product.code}}"><span class="color-emperor fs-10">{{product.name}}</span></a>
    </div>
</div>
<div ng-show="products.length>0" class="p-b-20">
    <span class="pull-right"><a href="tags/{{tag}}">VIEW MORE</a></span>
</div>
<div ng-show="products.length==0" class="row m-t-10 m-b-10">
    <div class="col-xs-12 color-san-juan">
        There are no products matching the selection.
    </div>
</div>