<div class="container checkout">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <progressbar value="40%"></progressbar>
                <div class="col-xs-12 deliveryOption a-box-group">
                    <div class="header p-b-05">Delivery options</div>
                    <div ng-show="deliverOptions.length>0" class="p-15 a-box"
                         ng-repeat="deliveryOption in deliverOptions">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8">
                                    <div class="pull-left" style="top: 35%; position: absolute;">
                                        <input type="radio" ng-checked="selected===$index" ng-click="select($index, address)">
                                    </div>
                                    <div class="m-l-20">
                                        <div class="eta">{{deliveryOption.eta}}</div>
                                        <div class="desc">
                                            <span ng-show="deliveryOption.charge > 0">{{deliveryOption.charge | currency:'£'}} - </span>
                                            {{deliveryOption.method}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4" ng-show="selected===$index">
                                    <button class="btn btn-block btn-style-primary" ng-click="saveDeliveryOption(deliveryOption)">
                                        <span ng-show="saveDeliveryOptionLoading"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                        Continue
                                    </button>
                                </div>
                            </div>
                    </div>
                    <div ng-show="deliverOptions.length==0">
                        <span class="color-san-juan">There are no delivery options available.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <summary></summary>
        </div>
    </div>
</div>