<div class="container checkout">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-12 p-t-10 p-b-15">
                    <span class="color-matterhorn"><span class="fw-bold">{{shoppingCart.email}}</span>, You are almost done!<br/><br/>Tell us where the order needs to be shipped.</span>
                </div>
                <div class="col-xs-12 address">
                    <div class="header p-b-10">Shipping Address</div>

                    <form class="form-horizontal" name="shippingForm" novalidate>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light required-field" style="text-align: left" for="shipping-title">Title:</label>
                            <div class="col-sm-9" ng-class="{'has-error': shippingForm.title.$invalid && shippingFormInvalid}">
                                <select class="form-control" name="title" ng-model="shipping.title" ng-required="true">
                                    <option value="" disabled selected>Please select</option>
                                    <option>Mr</option>
                                    <option>Mrs</option>
                                    <option>Miss</option>
                                    <option>Ms</option>
                                    <option>Dr.</option>
                                    <option>Rev.</option>
                                </select>
                                <div ng-show="shippingForm.title.$invalid && shippingFormInvalid">
                                    <small class="text-danger">Please select Title</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light required-field" style="text-align: left" for="shipping-name">Full Name:</label>
                            <div class="col-sm-9" ng-class="{'has-error': shippingForm.name.$invalid && shippingFormInvalid}">
                                <input type="text" class="form-control" name="name" ng-model="shipping.name" ng-required="true">
                                <div ng-show="shippingForm.name.$invalid && shippingFormInvalid">
                                    <small class="text-danger">Please enter Full Name</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light required-field" style="text-align: left" for="shipping-addressLine1">House Number/Name:</label>
                            <div class="col-sm-9" ng-class="{'has-error': shippingForm.addressLine1.$invalid && shippingFormInvalid}">
                                <input type="text" class="form-control" name="addressLine1" ng-model="shipping.addressLine1" ng-required="true">
                                <div ng-show="shippingForm.addressLine1.$invalid && shippingFormInvalid">
                                    <small class="text-danger">Please enter House Number/Name</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light" style="text-align: left" for="shipping-addressLine2">Address Line 2:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="addressLine2" ng-model="shipping.addressLine2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light required-field" style="text-align: left" for="shipping-city">Town/City:</label>
                            <div class="col-sm-9" ng-class="{'has-error': shippingForm.city.$invalid && shippingFormInvalid}">
                                <input type="text" class="form-control" name="city" ng-model="shipping.city" ng-required="true">
                                <div ng-show="shippingForm.city.$invalid && shippingFormInvalid">
                                    <small class="text-danger">Please enter Town/City</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light required-field" style="text-align: left" for="shipping-postcode">Post Code:</label>
                            <div class="col-sm-9" ng-class="{'has-error': shippingForm.postcode.$invalid && shippingFormInvalid}">
                                <input type="text" class="form-control" name="postcode" ng-model="shipping.postcode" ng-required="true">
                                <div ng-show="shippingForm.postcode.$invalid && shippingFormInvalid">
                                    <small class="text-danger">Please enter Post Code</small>
                                </div>                     
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light required-field" style="text-align: left" for="shipping-country">Country:</label>
                            <div class="col-sm-9" ng-class="{'has-error': shippingForm.country.$invalid && shippingFormInvalid}">
                                <input type="text" class="form-control" name="country" ng-model="shipping.country" readonly ng-required="true">
                                <div ng-show="shippingForm.country.$invalid && shippingFormInvalid">
                                    <small class="text-danger">Please enter Country</small>
                                </div> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light required-field" style="text-align: left" for="shipping-mobile">Mobile:</label>
                            <div class="col-sm-9" ng-class="{'has-error': shippingForm.mobile.$invalid && shippingFormInvalid}">
                                <input type="text" class="form-control" name="mobile" ng-model="shipping.mobile" ng-required="true">
                                <div ng-show="shippingForm.mobile.$invalid && shippingFormInvalid">
                                    <small class="text-danger">Please enter mobile</small>
                                </div> 
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-xs-12 address">
                    <div class="header p-b-10">Billing Address</div>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="checkbox">
                                    <label><input type="checkbox" name="billToSameAddress" ng-model="billToSameAddress" ng-change="toggle()">Use the shipping address as billing address</label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" ng-class="{'ng-hide': billToSameAddress}" name="billingForm" novalidate>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light required-field" style="text-align: left" for="billing-title">Title:</label>
                            <div class="col-sm-9" ng-class="{'has-error': billingForm.title.$invalid && billingFormInvalid}">
                                <select class="form-control" name="title" ng-model="billing.title" ng-required="true">
                                    <option value="" disabled selected>Please select</option>
                                    <option>Mr</option>
                                    <option>Mrs</option>
                                    <option>Miss</option>
                                    <option>Ms</option>
                                    <option>Dr.</option>
                                    <option>Rev.</option>
                                </select>
                                <div ng-show="billingForm.title.$invalid && billingFormInvalid">
                                    <small class="text-danger">Please select Title</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light required-field" style="text-align: left" for="billing-name">Full Name:</label>
                            <div class="col-sm-9" ng-class="{'has-error': billingForm.name.$invalid && billingFormInvalid}">
                                <input type="text" class="form-control" name="name" ng-model="billing.name" ng-required="true">
                                <div ng-show="billingForm.name.$invalid && billingFormInvalid">
                                    <small class="text-danger">Please enter Full Name</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light required-field" style="text-align: left" for="billing-addressLine1">House Number/Name:</label>
                            <div class="col-sm-9" ng-class="{'has-error': billingForm.addressLine1.$invalid && billingFormInvalid}">
                                <input type="text" class="form-control" name="addressLine1" ng-model="billing.addressLine1" ng-required="true">
                                <div ng-show="billingForm.addressLine1.$invalid && billingFormInvalid">
                                    <small class="text-danger">Please enter House Number/Name</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light" style="text-align: left" for="billing-addressLine2">Address Line 2:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="addressLine2" ng-model="billing.addressLine2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light required-field" style="text-align: left" for="billing-city">Town/City:</label>
                            <div class="col-sm-9" ng-class="{'has-error': billingForm.city.$invalid && billingFormInvalid}">
                                <input type="text" class="form-control" name="city" ng-model="billing.city" ng-required="true">
                                <div ng-show="billingForm.city.$invalid && billingFormInvalid">
                                    <small class="text-danger">Please enter Town/City</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light required-field" style="text-align: left" for="billing-postcode">Post Code:</label>
                            <div class="col-sm-9" ng-class="{'has-error': billingForm.postcode.$invalid && billingFormInvalid}">
                                <input type="text" class="form-control" name="postcode" ng-model="billing.postcode" ng-required="true">
                                <div ng-show="billingForm.postcode.$invalid && billingFormInvalid">
                                    <small class="text-danger">Please enter Post Code</small>
                                </div> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light required-field" style="text-align: left" for="billing-country">Country:</label>
                            <div class="col-sm-9" ng-class="{'has-error': billingForm.country.$invalid && billingFormInvalid}">
                                <input type="text" class="form-control" name="country" ng-model="billing.country" readonly ng-required="true">
                                <div ng-show="billingForm.country.$invalid && billingFormInvalid">
                                    <small class="text-danger">Please enter Country</small>
                                </div> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 fw-light required-field" style="text-align: left" for="billing-mobile">Mobile:</label>
                            <div class="col-sm-9" ng-class="{'has-error': billingForm.mobile.$invalid && billingFormInvalid}">
                                <input type="text" class="form-control" name="mobile" ng-model="billing.mobile" ng-required="true">
                                <div ng-show="billingForm.mobile.$invalid && billingFormInvalid">
                                    <small class="text-danger">Please enter mobile</small>
                                </div> 
                            </div>
                        </div>                        
                    </form>
                </div>

                <div class="col-xs-12 p-b-15 a-box-group deliveryOption">
                    <div class="header p-b-10">Delivery options</div>
                    <div class="p-15 a-box" ng-repeat="deliveryOption in deliveryOptions">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-left" style="top: 35%; position: absolute;">
                                    <input type="radio" name="deliveryOption" ng-click="select(deliveryOption)" ng-checked="$index==0?true:false">
                                </div>
                                <div class="m-l-20">
                                    <div class="eta">{{deliveryOption.eta}}</div>
                                    <div class="desc">
                                        <span ng-show="deliveryOption.charge > 0">{{deliveryOption.charge | currency:'£'}} - </span> {{deliveryOption.method}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-b-05">
                <div class="col-sm-6 hidden-xs">&nbsp</div>
                <div class="col-sm-6">
                    <a class="btn btn-block btn-style-primary" ng-click="submit()">
                        <span ng-show="submitting"><i class="glyphicon glyphicon-refresh spinning"></i></span>&nbsp;Proceed to Payment
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <summary></summary>
        </div>
    </div>
</div>