<div class="order-summary p-10">
    <div class="order-summary-header border-bottom p-b-05">Order Summary</div>
    <div class="row p-t-05 p-b-05" ng-show="shoppingCartData.shipping">
        <div class="col-xs-12">
            <span class="title">Shipping</span>
            <div class="value">{{shoppingCartData.shipping.title}} {{shoppingCartData.shipping.name}}</div>
            <div class="value">{{shoppingCartData.shipping.addressLine1}}</div>
            <div class="value">{{shoppingCartData.shipping.addressLine2}}</div>
            <div class="value">{{shoppingCartData.shipping.city}}, {{shoppingCartData.shipping.postcode}}</div>
            <div class="value">{{shoppingCartData.shipping.country}}</div>
            <div class="value">T: {{shoppingCartData.shipping.mobile}}</div>
        </div>
    </div>
    <div class="row p-t-05 p-b-05" ng-show="shoppingCartData.billing">
        <div class="col-xs-12">
            <span class="title">Billing</span>
            <div class="value">{{shoppingCartData.billing.title}} {{shoppingCartData.billing.name}}</div>
            <div class="value">{{shoppingCartData.billing.addressLine1}}</div>
            <div class="value">{{shoppingCartData.billing.addressLine2}}</div>
            <div class="value">{{shoppingCartData.billing.city}}, {{shoppingCartData.billing.postcode}}</div>
            <div class="value">{{shoppingCartData.billing.country}}</div>
            <div class="value">T: {{shoppingCartData.billing.mobile}}</div>
        </div>
    </div>
    <div class="row p-t-05 p-b-05">
        <div class="col-xs-9">
            <span class="title">Items</span>
        </div>
        <div class="col-xs-3">
            <span class="value pull-right">{{shoppingCartData.itemsTotal | currency:"£"}}</span>
        </div>
    </div>
    <div class="row p-t-05 p-b-05" ng-show="shoppingCartData.deliveryOption">
        <div class="col-xs-9">
            <span class="title">Postage</span>
        </div>
        <div class="col-xs-3">
            <span class="value pull-right" ng-show="shoppingCartData.deliveryOption.charge > 0">
                {{shoppingCartData.postage | currency:"£"}}
            </span>
            <span class="value pull-right" ng-show="shoppingCartData.deliveryOption.charge <= 0">
                Free
            </span>
        </div>
    </div>
    <div class="row p-t-05 p-b-05" ng-show="shoppingCartData.promotion > 0">
        <div class="col-xs-9">
            <span class="title">Discount</span> (<span ng-show="removing"><i class="glyphicon glyphicon-refresh spinning"></i></span><a href ng-click="removeVoucher()">Remove {{shoppingCartData.voucherCode}}</a>)
        </div>
        <div class="col-xs-3">
            <span class="value pull-right">
                -{{shoppingCartData.promotion | currency:"£"}}
            </span>
        </div>
    </div>
    <div class="row border-top p-t-05">
        <div class="col-xs-6">
            <span class="title">Order Total</span>
            <div class="value">
                incl. VAT ({{shoppingCartData.vat | currency:"£"}})
            </div>
        </div>
        <div class="col-xs-6">
            <span class="value pull-right">{{shoppingCartData.orderTotal | currency:"£"}}</span>
        </div>
    </div>
</div>

<div ng-hide="$ctrl.novoucher" class="m-t-10">
    <div ng-show="hasError" class="alert alert-danger" style="margin-bottom:5px;">
        {{errorMsg}}
    </div>
    <div class="input-group">
        <input type="text" class="form-control" ng-model="code" placeholder="Enter voucher code" aria-describedby="basic-addon2">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="apply()" style="background-color: #f0c14b; border-color: #a88734 #9c7e31 #846a29">
            <span ng-show="applying"><i class="glyphicon glyphicon-refresh spinning"></i></span>
            Apply code
        </button>
    </span>
    </div>
    <div ng-show="vouchers.length>0" class="row m-t-15">
        <div class="col-xs-12 form-check m-b-10">
            <input type="checkbox" class="form-check-input" id="showVouchers" ng-model="showVouchers">
            <label class="form-check-label" for="showVouchers">Show my vouchers</label>
        </div>
        <div class="col-xs-12" ng-if="showVouchers" ng-repeat="voucher in vouchers" style="height:250px;">
            <div class="p-15 a-dashed-box" style="width: 100%; background-color: #f0f5f5;">
                <div class="row">
                    <div class="col-xs-12 fw-bold fs-20 color-dark-grey">
                        Gift Voucher
                    </div>
                    <div class="col-xs-12 fw-bold fs-15 color-valencia" ng-if="voucher.type == 'MONETARY'">
                        {{voucher.discountAmount | currency:"£"}}
                    </div>
                    <div class="col-xs-12 fw-bold fs-15 color-valencia" ng-if="voucher.type == 'PERCENTAGE'">
                        {{voucher.discountAmount}}% OFF
                    </div>
                    <div class="col-xs-12 m-t-15 m-b-15" style="font-style: italic;">
                        {{voucher.name}}
                    </div>
                    <div class="col-xs-12 fs-10">
                        Voucher code: {{voucher.code}}
                    </div>
                    <div class="col-xs-12 fs-10">
                        Valid until: {{voucher.endDate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
