<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<ul class="breadcrumb category-crumb m-b-02">
				<li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
				<li ng-repeat="category in parentcategories"><a href="#/category/{{category.code}}">{{category.name}}</a></li>
			</ul>
		</div>
		<div class="col-xs-6">
			<span class="label label-info fs-10 pull-right m-t-10">{{productTotal}} products</span>
		</div>
	</div>
	<div class="row m-b-10">
		<div class="col-xs-6">
			<div class="btn-group">
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{name}} <span ng-if="subcategories.length" class="caret"></span>
				</button>
				<ul ng-if="subcategories.length" class="dropdown-menu">
					<div ng-repeat="category in subcategories">
                        <li class="m-l-05 p-t-05 p-b-02">
                            <a href="#/category/{{category.code}}">{{category.name}}</a>
                            <span style="color:grey">({{category.productTotal}})</span>
                        </li>
                    </div>
				</ul>
			</div>
			<div class="btn-group m-r-02" ng-repeat="facet in facets">
				<button class="btn dropdown-toggle" ng-class="style($index)" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{facet.name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li class="m-l-05" ng-repeat="facetValue in facet.facetValues">
						<input type="checkbox" checklist-model="filters[facet.name]" checklist-value="facetValue.name" checklist-change="applyFilters()">
						{{facetValue.name}} <span style="color:grey">({{facetValue.count}})</span>	
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="btn-group pull-right">
				<button class="btn btn-info btn-sort dropdown-toggle" type="button" data-toggle="dropdown">
					{{sort.display}}&nbsp;&nbsp;<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li class="m-l-05"><a href="" ng-click="sortby('Our favourites')">Our favourites</a></li>
					<li class="m-l-05"><a href="" ng-click="sortby('Price high to low', 'pricedesc')">Price high to low</a></li>
					<li class="m-l-05"><a href="" ng-click="sortby('Price low to high', 'priceasc')">Price low to high</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row product-list">
		<div class="box" ng-repeat="product in products">
			<div class = "col-xs-6 col-sm-4 p-b-20">
				<a href="#/products/{{product.code}}"><img class="img-responsive" ng-src="{{product.imageUrl}}"></a>
				<a href="#/products/{{product.code}}"><span class="product-name">{{product.name}}</span></a>
				<form class = "form-inline p-t-02">
					<text class="product-price">{{product.price | currency:"£"}}</text>
				</form>
			</div>
		</div>
	</div>
</div>
