<div class="container">
	<script type="application/ld+json" id="breadcrumb-json-ld"></script>
	<script type="application/ld+json" id="list-json-ld"></script>
	<div class="row m-b-02">
		<div class="col-xs-6">
			<ul class="breadcrumb category-crumb hidden-xs hidden-sm">
				<li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
				<li ng-repeat="category in parentcategories" ng-class="{'fw-bold':$last}">
					<a href="#!/category/{{category.code}}">{{category.name}}</a>
				</li>
			</ul>
			<ul class="category-crumb visible-xs-block visible-sm-block">
				<div ng-show="parentcategories.length == 1">
					<a href="#"><i class="glyphicon glyphicon-home"></i></a>
				</div>
				<div ng-repeat="category in parentcategories">
					<span ng-show="$index == parentcategories.length - 2">
						<i class="glyphicon glyphicon-chevron-left"></i>
						<a href="#!/category/{{category.code}}">{{category.name}}</a>
					</span>
				</div>
			</ul>
		</div>
		<div class="col-xs-6">
			<span class="label label-info fs-10 pull-right m-t-10">{{productTotal}} products</span>
		</div>
	</div>
	<div ng-show="loading" class="m-t-05 m-b-05 fs-20" style="text-align: center;">
		<i class="glyphicon glyphicon-refresh spinning"></i>
	</div>
	<div ng-show="!loading" class="row m-b-10">
		<div class="col-xs-6">
			<div class="btn-group">
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{name}} <span ng-if="subcategories.length" class="caret"></span>
				</button>
				<ul ng-if="subcategories.length" class="dropdown-menu" style="width: 210px;">
					<div ng-repeat="category in subcategories">
                        <li class="m-l-05 p-t-05 p-b-02">
                            <a href="#!/category/{{category.code}}">{{category.name}}</a>
                            <span style="color:grey">({{category.productTotal}})</span>
                        </li>
                    </div>
				</ul>
			</div>
			<div class="btn-group m-r-02" ng-repeat="facet in facets">
				<button class="btn dropdown-toggle" ng-class="style($index)" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{facet.name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li class="m-l-05" ng-repeat="facetValue in facet.facetValues">
						<input type="checkbox" checklist-model="filters[facet.name]" checklist-value="facetValue.name" checklist-change="applyFilters()">
						{{facetValue.name}} <span style="color:grey">({{facetValue.count}})</span>	
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="btn-group pull-right">
				<button class="btn btn-info btn-sort dropdown-toggle" type="button" data-toggle="dropdown">
					{{sort.display}}&nbsp;&nbsp;<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li class="m-l-05"><a href="" ng-click="sortby('Our favourites')">Our favourites</a></li>
					<li class="m-l-05"><a href="" ng-click="sortby('Price high to low', 'pricedesc')">Price high to low</a></li>
					<li class="m-l-05"><a href="" ng-click="sortby('Price low to high', 'priceasc')">Price low to high</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div ng-show="!loading && productTotal>0" class="row auto-clear product-list">
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 p-b-20" ng-repeat="product in products">
			<a href="#!/products/{{product.code}}"><img class="img-responsive" ng-src="{{product.imageUrl}}"></a>
			<div>
				<span class="fs-16 fw-bold" ng-class="{'color-valencia': product.onSale}">{{product.price | currency:"£"}}</span>
				<span ng-show="product.onSale" class="fs-12 m-l-05 text-line-through">{{product.originalPrice | currency:"£"}}</span>
			</div>
			<a href="#!/products/{{product.code}}"><span class="color-emperor fs-10">{{product.name}}</span></a>
		</div>
	</div>
	<div ng-show="!loading && productTotal==0" class="row m-b-10">
		<div class="col-xs-12 color-san-juan">
			There are no products matching the selection.
		</div>
	</div>
</div>
