<div class="container">
	<ul class="breadcrumb category-crumb">
  		<li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
  		<li ng-repeat="category in parentcategories"><a href="#/category/{{category.code}}">{{category.name}}</a></li>
	</ul>
	<div class = "row product-detail">
		<div class = "col-xs-12 col-md-6">
			<div class="flexslider">
  				<ul class="slides">
    				<li data-thumb='{{product.images.Main[0]}}'>
      					<img ng-src='{{product.images.Main[0]}}' />
    				</li>
    				<li ng-repeat='url in product.images.Detail' data-thumb='{{url}}' on-finish-init-slider>
      					<img ng-src='{{url}}' />
    				</li>
  				</ul>
			</div>	
		</div>
		<div class = "col-xs-12 col-md-6">
			<div class="name">{{product.name}}</div>
			<div class="price">{{price | currency:"£"}}</div>
			<div ng-show="lowqty" class="stock"><span class="stock label label-warning">{{lowqty}} left</span></div>
			<div ng-hide="lowqty" class="stock"><span class="stock label label-warning">Items in stock</span></div>
			<div ng-show="colorVariant" class="row color-variant">
				<div class="col-xs-3">
					<img class="active" ng-src='{{product.images.Color[0]}}'/>
				</div>
				<div class="col-xs-3" ng-repeat='variant in colorVariant'>
					<a href="#/products/{{variant.code}}">
						<img ng-src='{{variant.imageUrl}}'/>
					</a>
				</div>
			</div>			

			<div ng-repeat="(attribute, values) in product.attributes">
				<div class="form-group">
  					<label for="{{attribute}}">{{attribute}}</label>
  					<select class="form-control" id="{{attribute}}" ng-init="selected=''" ng-model="selected" ng-change="select(attribute, selected)">
  						<option value="">Choose an Option...</option>
  						<option ng-repeat="value in values" value="{{value}}">{{value}}</option>
  					</select>
				</div>
			</div>

			<button type="button" class="btn btn-lg btn-add-to-cart m-b-15" ng-click="">
				<i ng-show="processing[product.code]" class="fa fa-spinner fa-pulse fa-fw"></i>
				Add to Bag <span class="glyphicon glyphicon-shopping-cart"></span>
			</button>

			<div class="row social-icon">
				<div class="col-xs-3">
				<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
				</div>
				<div class="col-xs-3">
				<i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
				</div>
				<div class="col-xs-3">
				<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
				</div>
				<div class="col-xs-3">
				<i class="fa fa-pinterest fa-2x" aria-hidden="true"></i>
				</div>
			</div>


			<div class="desc" dynamic="product.description"></div>
		</div>
	</div>
</div>
