<div class="container account" id="test">
    <div class="row m-b-10">
        <div class="col-xs-12">
            <a ng-href="admin/orders"><span class="glyphicon glyphicon-arrow-left"></span> Go Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 fs-18 m-b-02">Order Details</div>
        <div class="col-xs-12 fs-08 m-b-10">
            Ordered on {{order.orderDate.dayOfMonth}} {{order.orderDate.month}} {{order.orderDate.year}}<span class="fw-light"> | </span>Order # {{order.orderNumber}}
        </div>
        <div class="col-xs-12 m-b-10">
            <div class="a-box-group">
                <div class="p-10 a-box">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <span class="fs-09 fw-bold m-b-02">Delivery Address</span>
                            <div class="fs-09 m-b-05" ng-repeat="address in order.orderAddresses | filter:{addressType:'Shipping'}">
                                <div>{{address.title}} {{address.name}}</div>
                                <div>{{address.addressLine1}}</div>
                                <div>{{address.addressLine2}}</div>
                                <div>{{address.city}}, {{address.postcode}}</div>
                                <div>{{address.country}}</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <span class="fs-09 fw-bold m-b-02">Billing Address</span>
                            <div class="fs-09 m-b-05" ng-repeat="address in order.orderAddresses | filter:{addressType:'Billing'}">
                                <div>{{address.title}} {{address.name}}</div>
                                <div>{{address.addressLine1}}</div>
                                <div>{{address.addressLine2}}</div>
                                <div>{{address.city}}, {{address.postcode}}</div>
                                <div>{{address.country}}</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <span class="fs-09 fw-bold m-b-02">Order Summary</span>
                            <div class="fs-09 m-b-05">
                                <div>Item(s) Subtotal: <span class="fw-bold">{{order.items + order.itemsVat | currency:'£'}}</span></div>
                                <div>Postage & Packing: <span class="fw-bold">{{order.postage + order.postageVat | currency:'£'}}</span></div>
                                <div ng-hide="order.discount==0">Discount: <span class="fw-bold">({{order.discount +
                                    order.discountVat | currency:'£'}})</span></div>
                                <div>Grant Total: <span class="fw-bold">{{order.orderTotal | currency:'£'}}</span></div>
                                <div>(incl. VAT: <span class="fw-bold">{{order.totalVat | currency:"£"}})</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-10 a-box">
                    <div class="row">
                        <div class="col-xs-12 fw-bold fs-09 m-b-02">Order Status</div>
                        <div ng-repeat="orderStatus in order.orderStatuses" class="col-xs-12 fs-09 m-b-02">
                            {{orderStatus.creationTime.dayOfMonth}} {{orderStatus.creationTime.month}} {{orderStatus.creationTime.year}} : Order {{orderStatus.status}}
                        </div>
                        <div class="col-xs-12 m-t-10">
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown">{{status}}&nbsp;&nbsp;<span
                                                    class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="" ng-click="setStatus('CREATED')">created</a></li>
                                                <li><a href="" ng-click="setStatus('PAYMENT SUCCEEDED')">payment succeeded</a></li>
                                                <li><a href="" ng-click="setStatus('PAYMENT FAILED')">payment failed</a></li>
                                                <li><a href="" ng-click="setStatus('PROCESSING')">processing</a></li>
                                                <li><a href="" ng-click="setStatus('SHIPPED')">shipped</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="" ng-click="setStatus('DELIVERED')">delivered</a></li>
                                                <li><a href="" ng-click="setStatus('RETURNED')">returned</a></li>
                                                <li><a href="" ng-click="setStatus('CANCELLED')">cancelled</a></li>
                                                <li><a href="" ng-click="setStatus('FAILED')">failed</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="addStatus()">
                                                <span ng-show="addingStatus"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                                Add Status
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="p-10 a-box">
                    <div class="m-b-05">
                        <span class="fw-bold">Order Email</span>: {{order.email}}&nbsp&nbsp
                        <span ng-show="sendingEmail"><i class="glyphicon glyphicon-refresh spinning"></i>&nbsp&nbspSending email...</span>

                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-primary" ng-click="pushEmail('order-confirmation')">
                            Re-Send Order Confirmation Email
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-warning" ng-click="pushEmail('order-shipped')">
                            Send Order Shipped Email
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 m-b-10">
            <li class="list-group-item" data-toggle="collapse" data-target="#invoice-box"
                style="border: 1px solid #C0C0C0;">
                <div class="media-body fs-09 fw-bold">
                    <span style="vertical-align: middle; display: inline-block;">Invoice</span>
                </div>
                <div class="media-right" style="vertical-align:middle;">
                    <span class="glyphicon glyphicon-plus"></span>
                </div>
            </li>
            <div id="invoice-box" class="collapse" style="padding: 10px 15px; border: 1px solid #ddd;">
                <div class="btn-group m-b-15">
                    <button type="button" class="btn btn-default btn-success m-l-05" ng-click="downloadInvoice()">
                        Download Invoice
                    </button>
                </div>
                <div id="invoice">
                    <img src="/images/logo_grey.png" style="max-height: 88px;">
                    <div class="a-box-group m-t-10">
                        <div class="p-l-10 p-t-05 p-b-05 a-box a-color-offset-background fs-11 fw-bold">Order Information</div>
                        <div class="p-10 a-box fs-11">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div>Order Date: <span class="fw-bold">{{order.orderDate.dayOfMonth}} {{order.orderDate.month}} {{order.orderDate.year}}</span></div>
                                    <div>Order Number: <span class="fw-bold">{{order.orderNumber}}</span></div>
                                </div>
                                <div class="col-xs-6">
                                    <div>Item(s) Subtotal: <span class="fw-bold">{{order.items + order.itemsVat | currency:'£'}}</span></div>
                                    <div>Postage & Packing: <span class="fw-bold">{{order.postage + order.postageVat | currency:'£'}}</span></div>
                                    <div ng-hide="order.discount==0">Discount: <span class="fw-bold">({{order.discount +
                                    order.discountVat | currency:'£'}})</span></div>
                                    <div>Grant Total: <span class="fw-bold">{{order.orderTotal | currency:'£'}}</span></div>
                                    <div>(incl. VAT: <span class="fw-bold">{{order.totalVat | currency:"£"}})</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="a-box-group m-t-10">
                        <div class="p-l-10 p-t-05 p-b-05 a-box a-color-offset-background fs-11 fw-bold">Addresses</div>
                        <div class="p-10 a-box fs-11">
                            <div class="row">
                                <div class="col-xs-6">
                                    <span class="fw-bold m-b-02">Delivery Address</span>
                                    <div class="m-b-05" ng-repeat="address in order.orderAddresses | filter:{addressType:'Shipping'}">
                                        <div>{{address.title}} {{address.name}}</div>
                                        <div>{{address.addressLine1}}</div>
                                        <div>{{address.addressLine2}}</div>
                                        <div>{{address.city}}, {{address.postcode}}</div>
                                        <div>{{address.country}}</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <span class="fw-bold m-b-02">Billing Address</span>
                                    <div class="m-b-05" ng-repeat="address in order.orderAddresses | filter:{addressType:'Billing'}">
                                        <div>{{address.title}} {{address.name}}</div>
                                        <div>{{address.addressLine1}}</div>
                                        <div>{{address.addressLine2}}</div>
                                        <div>{{address.city}}, {{address.postcode}}</div>
                                        <div>{{address.country}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="a-box-group m-t-10">
                        <div class="p-l-10 p-t-05 p-b-05 a-box a-color-offset-background fs-11 fw-bold">Order Items</div>
                        <div class="p-10 a-box fs-11">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Item no.</th>
                                            <th>Item</th>
                                            <th>Unit Price</th>
                                            <th>Quantity</th>
                                            <th>Subtotal</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="orderItem in order.orderItems">
                                            <td>{{orderItem.sku}}</td>
                                            <td>{{orderItem.name}}</td>
                                            <td>{{orderItem.price | currency:'£'}}</td>
                                            <td>{{orderItem.quantity}}</td>
                                            <td>{{orderItem.subTotal | currency:'£'}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="color-grey m-t-05">
                        <div class="row">
                            <div class="col-xs-12 p-l-15">
                                VAT Number: GB 922 944 513
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 m-b-10">
            <div class="a-box-group">
                <div class="p-l-10 p-t-05 p-b-05 a-box a-color-offset-background fs-09 fw-bold">Order Items</div>
                <div class="p-10 a-box" ng-repeat="orderItem in order.orderItems">
                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <img src="{{orderItem.imageUrl}}" style="width: 100px; height: 100px;">
                        </div>
                        <div class="col-xs-8 col-sm-9">
                            <a href="products/{{orderItem.code}}">
                                <span class="fs-08">{{orderItem.name}}</span>
                            </a>
                            <div class="fs-08">Price (each):&nbsp&nbsp<span class="fw-bold">{{orderItem.price | currency:'£'}}</span></div>
                            <div class="fs-08">Quantity:&nbsp&nbsp<span class="fw-bold">{{orderItem.quantity}}</span></div>
                            <div class="fs-08">Sub-total:&nbsp&nbsp<span class="fw-bold">{{orderItem.subTotal | currency:'£'}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>