<div class="container account">
    <div class="row m-b-10">
        <div class="col-xs-12">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{status}}&nbsp;&nbsp;<span
                                    class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="setStatus('open')">open</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="" ng-click="setStatus('created')">created</a></li>
                                <li><a href="" ng-click="setStatus('payment succeeded')">payment succeeded</a></li>
                                <li><a href="" ng-click="setStatus('payment failed')">payment failed</a></li>
                                <li><a href="" ng-click="setStatus('processing')">processing</a></li>
                                <li><a href="" ng-click="setStatus('shipped')">shipped</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="" ng-click="setStatus('completed')">completed</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="" ng-click="setStatus('delivered')">delivered</a></li>
                                <li><a href="" ng-click="setStatus('returned')">returned</a></li>
                                <li><a href="" ng-click="setStatus('cancelled')">cancelled</a></li>
                                <li><a href="" ng-click="setStatus('failed')">failed</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="orderDate"
                               placeholder="Order date (yyyy-mm-dd)">
                    </div>

                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="orderNumber" placeholder="Order number">
                    </div>

                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="applyFilter()">
                                <span ng-show="loading"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                Apply Filter
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Orders</div>
                <table ng-hide='error' class="table table-striped">
                    <thead>
                    <tr>
                        <th>Order</th>
                        <th>Status</th>
                        <th>Email</th>
                        <th>Total</th>
                        <th>Date</th>
                        <th>Delivery Method</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in orders">
                        <td><a ng-href="admin/orders/{{order.orderNumber}}">{{order.orderNumber}}</a></td>
                        <td>{{order.currentStatus}}</td>
                        <td>{{order.email}}</td>
                        <td>{{order.orderTotal | currency:'£'}}</td>
                        <td>{{order.orderDate.year}}-{{order.orderDate.monthValue}}-{{order.orderDate.dayOfMonth}}</td>
                        <td>{{order.deliveryMethod}}</td>
                    </tr>
                    </tbody>
                </table>
                <div ng-show="error" class="panel-body">
                    {{errorMsg}}
                </div>
            </div>
        </div>
    </div>
</div>
