<div class = "container">
	<div class = "row">
		<div ng-repeat="product in products | orderBy:'id'">
			<div class = "col-xs-6 col-sm-4 col-md-3 p-b-20">
				<a href="#/products/{{product.id}}"><img class="img-responsive" ng-src="{{product.imageUrl}}"></a>
				<div class="main-name">{{product.name}}</div>
				<input type="number" value="1" ng-model="product.quantity" style="display: none;">
				<form class = "form-inline p-t-02">
					<text class="main-price">£{{product.unitPrice}}</text>
					<button type="button" class="btn btn-add btn-sm pull-right" ng-click="addItem(product)">加入購物車</button>
				</form>
			</div>
		</div>
	</div>
</div>
