<div class="container account">
	<div class="row">
		<ul class="breadcrumb fs-09" style="background: #fff;">
  			<li><a href="#!/account/{{customer.id}}"><span style="color: #45555f;">Your Account</span></a></li>
  			<li><span style="color: #c45500;">Your Addresses</span></li>
		</ul>
	</div>
	<div class="row address">
		<div class = "col-xs-12 col-md-4 m-b-15" style="height:250px;">
			<a href="#!/account/{{customerId}}/add-address">
				<div class="p-15 a-dashed-box" style="height: 100%; width: 100%;">
					<div class="add-new">
						<div class="icon m-b-05"><span class="glyphicon glyphicon-plus fa-2x"></span></div>
						<div class="text fs-13">Add Address</div>
					</div>
				</div>
			</a>
		</div>
		<div class = "col-xs-12 col-md-4 m-b-15" ng-repeat="address in addresses | filter: {defaultAddress: true}" style="height:250px;">
			<div class="p-15 a-box" style="height: 100%; width: 100%">
				<div class="name">{{address.title}} {{address.name}}</div>
				<div>{{address.addressLine1}}</div>
				<div>{{address.addressLine2}}</div>
				<div>{{address.city}}, {{address.postcode}}</div>
				<div>{{address.country}}</div>
				<div>T: {{address.mobile}}</div>
				<div style="position: absolute; bottom: 1.5em;">
					<a href="#!/account/{{customerId}}/address/{{address.id}}/edit">Edit</a> | 
					<a href ng-click="removeAddress(address)">Remove</a>
				</div>
			</div>
		</div>

		<div class = "col-xs-12 col-md-4 m-b-15" ng-repeat="address in addresses | filter: {defaultAddress: false} | orderBy: '-id'" style="height:250px;">
			<div class="p-15 a-box" style="height: 100%; width: 100%">
				<div class="name">{{address.title}} {{address.name}}</div>
				<div>{{address.addressLine1}}</div>
				<div>{{address.addressLine2}}</div>
				<div>{{address.city}}, {{address.postcode}}</div>
				<div>{{address.country}}</div>
				<div>T: {{address.mobile}}</div>
				<div style="position: absolute; bottom: 1.5em;">
					<a href="#!/account/{{customerId}}/address/{{address.id}}/edit">Edit</a> | 
					<a href ng-click="removeAddress(address)">Remove</a> | 
					<a href ng-click="setAsDefault(address)">Set as Default</a>
				</div>
			</div>
		</div>
	</div>
</div>
