<div class="container account">
	<div class="row">
		<ul class="nav nav-pills top-nav">
			<li role="presentation"><a href="#!/account/{{customerId}}">Profile</a></li>
			<li role="presentation"><a href="#!/account/{{customerId}}/orders">My Orders</a></li>
			<li role="presentation" class="active"><a href="#">Address Book</a></li>
		</ul>
	</div>
	<div class="row address">
		<div class = "col-xs-12 col-md-4 m-b-15" style="height:250px;">
			<a href="#!/account/{{customerId}}/add-address">
				<div class="p-15 dashed-border" style="height: 100%; width: 100%;">
					<div class="add-new">
						<div class="icon m-b-05"><span class="glyphicon glyphicon-plus fa-2x"></span></div>
						<div class="text fs-13">Add Address</div>
					</div>
				</div>
			</a>
		</div>
		<div class = "col-xs-12 col-md-4 m-b-15" ng-repeat="address in addresses | filter: {defaultAddress: true}" style="height:250px;">
			<div class="p-15 border" style="height: 100%; width: 100%">
				<div class = "name">{{address.title}} {{address.name}}</div>
				<div class = "line">{{address.addressLine1}}</div>
				<div class = "line">{{address.addressLine2}}</div>
				<div class = "line">{{address.city}}, {{address.postcode}}</div>
				<div class = "line">{{address.country}}</div>
				<div class = "line">T: {{address.mobile}}</div>
				<div style="position: absolute; bottom: 1.5em;">
					<a href="#">Edit</a> | <a href="#">Remove</a>
				</div>
			</div>
		</div>

		<div class = "col-xs-12 col-md-4 m-b-15" ng-repeat="address in addresses | filter: {defaultAddress: false} | orderBy: '-id'" style="height:250px;">
			<div class="p-15 border" style="height: 100%; width: 100%">
				<div class = "name">{{address.title}} {{address.name}}</div>
				<div class = "line">{{address.addressLine1}}</div>
				<div class = "line">{{address.addressLine2}}</div>
				<div class = "line">{{address.city}}, {{address.postcode}}</div>
				<div class = "line">{{address.country}}</div>
				<div class = "line">T: {{address.mobile}}</div>
				<div style="position: absolute; bottom: 1.5em;">
					<a href="#">Edit</a> | <a href="#">Remove</a> | <a href="#">Set as Default</a>
				</div>
			</div>
		</div>
	</div>
</div>
