<div class="container account">
	<div class="row">
		<ul class="breadcrumb fs-09" style="background: #fff;">
  			<li><a href="#!/account/{{customer.id}}"><span style="color: #45555f;">Your Account</span></a></li>
  			<li><span style="color: #c45500;">Your Addresses</span></li>
		</ul>
	</div>
	<div class = "row">
		<div class = "col-xs-12 col-md-6">
			<div id="error" ng-show="error" class="alert alert-danger width-60">{{errorMsg}}</div>
			<form name="addressForm" role="form" ng-submit="addressForm.$valid && updateAddress(address)">
				<table class="table">
					<tr>
						<td width="40%">
							<div class="p-t-05 p-b-05">Set as default address:</div>
						</td>
						<td>
							<div class="form-check p-t-05 p-b-05">
								<input type="checkbox" class="form-check-input" id="defaultAddress" name="defaultAddress" ng-model="address.defaultAddress">
							</div>
						</td>
					</tr>
					<tr>
						<td width="40%">
							<div class="p-t-05 required-field">Title </div>
						</td>
						<td>
							<select class="form-control" id="title" name="title" ng-model="address.title">
								<option value="" disabled selected>Please select</option>
								<option>Mr</option>
								<option>Mrs</option>
								<option>Miss</option>
								<option>Ms</option>
								<option>Dr.</option>
								<option>Rev.</option>
							</select>
						</td>
					</tr>
					<tr>
						<td width="40%">
							<div class="p-t-05 required-field">Full Name </div>
						</td>
						<td>
							<div ng-class="{'has-error': addressForm.name.$invalid && addressForm.name.$touched}">
								<input type="text" class="form-control" id="name" name="name" ng-model="address.name" required>
								<div ng-show="addressForm.name.$touched && addressForm.name.$error.required">
									<small class="text-danger">
										Full Name is missing. Please check and try again.
									</small>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td width="40%">
							<div class="p-t-05 required-field">House Number/Name </div>
						</td>
						<td>
							<div ng-class="{'has-error': addressForm.addressLine1.$invalid && addressForm.addressLine1.$touched}">
								<input type="text" class="form-control" id="addressLine1" name="addressLine1" ng-model="address.addressLine1" required>
								<div ng-show="addressForm.addressLine1.$touched && addressForm.addressLine1.$error.required">
									<small class="text-danger">
										House Number/Name is missing. Please check and try again.
									</small>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td width="40%">
							<div class="p-t-05">Address Line 2</div>
						</td>
						<td>
							<input type="text" class="form-control" id="addressLine2" name="addressLine2" ng-model="address.addressLine2">
						</td>
					</tr>
					<tr>
						<td width="40%">
							<div class="p-t-05 required-field">Town/City </div>
						</td>
						<td>
							<div ng-class="{'has-error': addressForm.city.$invalid && addressForm.city.$touched}">
								<input type="text" class="form-control" id="city" name="city" ng-model="address.city" required>
								<div ng-show="addressForm.city.$touched && addressForm.city.$error.required">
									<small class="text-danger">
										City is missing. Please check and try again.
									</small>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td width="40%">
							<div class="p-t-05 required-field">Post Code </div>
						</td>
						<td>
							<div ng-class="{'has-error': addressForm.postcode.$invalid && addressForm.postcode.$touched}">
								<input type="text" class="form-control" id="postcode" name="postcode" ng-model="address.postcode" required>
								<div ng-show="addressForm.postcode.$touched && addressForm.postcode.$error.required">
									<small class="text-danger">
										Post Code is missing. Please check and try again.
									</small>
								</div>
							</div>							
						</td>
					</tr>
					<tr>
						<td width="40%">
							<div class="p-t-05 required-field">Country </div>
						</td>
						<td>
							<input type="text" class="form-control" id="country" name="country" readonly ng-model="address.country">
						</td>
					</tr>
					<tr>
						<td width="40%">
							<div class="p-t-05 required-field">Mobile </div>
						</td>
						<td>
							<div ng-class="{'has-error': addressForm.mobile.$invalid && addressForm.mobile.$touched}">
								<input type="text" class="form-control" id="mobile" name="mobile" ng-model="address.mobile" ng-pattern="/^(?:0|\+?44)(?:\d\s?){9,10}$/" required>
								<div ng-show="addressForm.mobile.$touched">
									<small ng-show="addressForm.mobile.$error.required" class="text-danger">
										Mobile is missing. Please check and try again.
									</small>
									<small ng-show="addressForm.mobile.$error.pattern" class="text-danger">
										Invalid Mobile. Please check and try again.
									</small>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<a href="#!/account/{{customer.id}}/address-book" class="btn btn-primary">Cancel</a>			
							<button type="submit" class="btn btn-primary">Update address</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
