<div class="container cart">
     <div class="row">
          <ul class="breadcrumb fs-09" style="background: #fff;">
               <li><a href="#!/account/{{customerId}}"><span class="color-san-juan">Your Account</span></a></li>
               <li><span style="color: #c45500;">Your Favorites</span></li>
          </ul>
     </div>
     <div class="row">
          <div ng-show="loading" class="m-b-15 fs-20" style="text-align: center;">
               <i class="glyphicon glyphicon-refresh spinning"></i>
          </div>
          <div class="col-xs-12 m-b-15" ng-if="products.length == 0 && !loading">
               <span class="fs-09 color-san-juan">We can't find any favourites.</span>
          </div>
          <div ng-if="products.length > 0 && !loading" ng-repeat="product in products">
               <div class = "col-xs-12 col-sm-6">
                    <div class="row"> 
                         <div class="col-xs-6">
                              <a href="#!/products/{{product.code}}"><img class="img-responsive thumbnail" ng-src="{{product.images[0]}}"></a>
                         </div>
                         <div class="col-xs-6">
                              <div class="row">
                                   <div class="col-xs-12">
                                        <a href="#!/products/{{product.code}}"><span class="product-name">{{product.name}}</span></a>
                                   </div>
                              </div>
                              <div class="row m-b-02">
                                   <div class="col-xs-12">
                                        <span class="product-desc">{{product.description}}</span>
                                   </div>
                              </div>
                              <div class="row m-b-02">
                                   <div class="col-xs-12">
                                        <span class="fw-light">Price (each):&nbsp&nbsp</span>{{product.price | currency:'£'}}
                                   </div>
                              </div>
                              <div class="row">
                                   <div class="col-xs-12">
                                        <span ng-show="product.removing"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                        <a href ng-click="removeFavouriteItem(product, $index)">Remove</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
