<div class="container">
	<div class = "row login">
		<div class="col-md-6">
			<form name="loginForm" ng-submit="login(credentials)">
				<h3>Sign in</h3>
				<div class="alert alert-danger width-60" ng-show="loginError">
					Uh on...Incorrect email / password.
				</div>
			  	<div class="form-group">
			    	<label for="loginEmail">Email</label>
			    	<input type="email" id="loginEmail" class="form-control width-60" ng-model="credentials.email" placeholder="Enter email">
			  	</div>
			  	<div class="form-group">
			    	<label for="loginPassword">Password</label>
			    	<input type="password" id="loginPassword" class="form-control width-60" ng-model="credentials.password" placeholder="Enter Password">
			  	</div>
				<button id="loginBtn" type="submit" class="btn btn-block width-60">Sign in</button>
				<div class="m-t-05">
					<a><u>Need help signing in?</u></a>
				</div>
				<div class="m-t-20">
					<span class="fs-11 fw-bold">Don't have an account?</span>
				</div>
				<div class="m-t-05">
					<a href="#/register"><u>Register now</u></a>
				</div>
			</form>
		</div> 
</div>
