<div class="container account">
    <div class="row">
        <ul class="breadcrumb fs-09" style="background: #fff;">
            <li><a href="#!/account/{{customer.id}}"><span class="color-san-juan">Your Account</span></a></li>
            <li><span class="color-tenne">Your Orders</span></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-xs-12 m-b-10">
            <ul class="nav nav-tabs fs-09">
                <li role="presentation" ng-class="status==='completed' ? 'active' : ''">
                    <a href="#!/account/{{customer.id}}/orders?status=all">
                        <span ng-class="status==='completed' ? 'color-tenne' : ''">Orders</span>
                    </a>
                </li>
                <li role="presentation" ng-class="status==='open' ? 'active' : ''">
                    <a href="#!/account/{{customer.id}}/orders?status=open">
                        <span ng-class="status==='open' ? 'color-tenne' : ''">Open Orders</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 m-b-15" ng-if="orders.length==0">
            <span class="fs-09">We can't find any orders.</span>
        </div>
        <div class="col-xs-12 m-b-15" ng-if="orders.length>0" ng-repeat="order in orders">
            <div class="a-box-group">
                <div class="p-10 a-box a-color-offset-background">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <span class="fs-08">ORDER PLACED</span>
                            <div class="fs-08 fw-bold">{{order.orderDate.dayOfMonth}} {{order.orderDate.month}} {{order.orderDate.year}}</div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <span class="fs-08">Status</span>
                            <div class="fs-08 fw-bold">Processing</div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <span class="fs-08">TOTAL (POSTAGE)</span>
                            <div class="fs-08 fw-bold">{{order.orderTotal | currency:'£'}} ({{order.postage + order.postageVat | currency:'£'}})</div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <span class="fs-08">ORDER #</span>
                            <div class="fs-08 fw-bold">
                                <a href="#!/account/{{customer.id}}/orders/{{order.orderNumber}}">{{order.orderNumber}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-10 a-box" ng-repeat="orderItem in order.orderItems">
                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <img src="{{orderItem.imageUrl}}" style="width: 100px; height: 100px;">
                        </div>
                        <div class="col-xs-8 col-sm-9">
                            <a href="#!/products/{{orderItem.code}}">
                                <span class="fs-08">{{orderItem.name}}</span>
                            </a>
                            <div class="fs-08">Price (each):&nbsp&nbsp<span class="fw-bold">{{orderItem.price | currency:'£'}}</span></div>
                            <div class="fs-08">Quantity:&nbsp&nbsp<span class="fw-bold">{{orderItem.quantity}}</span></div>
                            <div class="fs-08">Sub-total:&nbsp&nbsp<span class="fw-bold">{{orderItem.subTotal | currency:'£'}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>