<div class="container account">
	<div class="row">
		<ul class="nav nav-pills top-nav">
  			<li role="presentation" class="active"><a href="#!/account/{{customerId}}">Profile</a></li>
  			<li role="presentation"><a href="#!/account/{{customerId}}/orders">My Orders</a></li>
  			<li role="presentation"><a href="#!/account/{{customerId}}/address-book">Address Book</a></li>
		</ul>
	</div>
	<div class = "row">
		<div class = "col-xs-12 col-md-6">
			<table class="table">
     			<tr>
			    	<td>
			    		<div class="p-t-05">Current Password :</div>
			    	</td>
			    	<td>
			    		<input type="password" id="currentPassword" class="form-control" ng-model="customer.currentPassword">
			    	</td>
				</tr>
     			<tr>
			    	<td>
			    		<div class="p-t-05">New Password :</div>
			    	</td>
			    	<td>
			    		<input type="password" id="newPassword" class="form-control" ng-model="customer.newPassword">
			    	</td>
				</tr>
				<tr>
			    	<td>
			    		<div class="p-t-05">Re-enter New Password :</div>
			    	</td>
			    	<td>
			    		<input type="password" id="confirmNewPassword" class="form-control" ng-model="customer.confirmNewPassword">
			    	</td>
				</tr>
				<tr>
					<td colspan="2">
						<a href="#!/account/{{customer.id}}" class="btn btn-primary">Cancel</a>			
						<a href="" class="btn btn-primary">Change Password</a>
					</td>
				</tr>

			</table>
		</div>
	</div>
</div>
