<div class="container account">
    <div class="row">
        <ul class="breadcrumb fs-09" style="background: #fff;">
            <li><a href="#!/account/{{customer.id}}"><span style="color: #45555f;">Your Account</span></a></li>
            <li><span style="color: #c45500;">Your Profile</span></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div id="error" ng-show="error" class="alert alert-danger width-60">{{errorMsg}}</div>
            <form name="form" ng-submit="form.$valid && update(password)">
                <table class="table">
                    <tr>
                        <td>
                            <div class="p-t-05">New Password :</div>
                        </td>
                        <td>
                            <div ng-class="{'has-error': form.password.$invalid && (form.password.$touched || form.$submitted)}">
                                <input type="password" id="password" name="password" class="form-control" ng-model="password" ng-minlength="8" ng-maxlength="50" ng-pattern="/(?=.*\d)(?=.*[a-zA-Z])/" placeholder="Enter Password" required>
                                <div id="passwordMsg" ng-show="form.password.$touched || form.$submitted">
                                    <p ng-show="form.password.$error.required" class="help-block">
                                        Password is missing. Please check and try again.
                                    </p>
                                    <p ng-show="form.password.$error.minlength" class="help-block">
                                        Sorry, that password is too short. It needs to be eight characters or more.
                                    </p>
                                    <p ng-show="form.password.$error.maxlength" class="help-block">
                                        Sorry, that password is too long. It can’t be more than 50 characters.
                                    </p>
                                    <p ng-show="form.password.$error.pattern" class="help-block">
                                        Pasword must contain a letter and a number.
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="p-t-05">Confirm New Password :</div>
                        </td>
                        <td>
                            <div ng-class="{'has-error': form.confirmPassword.$invalid && (form.confirmPassword.$touched || form.$submitted) }">
                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" ng-model="confirmPassword" password-match="password" placeholder="Confirm password" required>
                                <div id="confirmPasswordMsg" ng-show="form.confirmPassword.$touched || form.$submitted">
                                    <p ng-show="form.confirmPassword.$error.required" class="help-block">
                                        Please confirm your password.
                                    </p>
                                    <p ng-show="!form.confirmPassword.$error.required && form.confirmPassword.$error.unique" class="help-block">
                                        Password does not match.
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button id="cancelBtn" type="button" class="btn btn-style-primary" ng-click="cancel()">Cancel</button>
                            <button id="updateBtn" type="submit" class="btn btn-style-primary">
                                <span ng-show="updating"><i class="glyphicon glyphicon-refresh spinning"></i>&nbsp;</span>Update
                            </button>
                        </td>
                    </tr>
                </table>
        </div>
    </div>
</div>