<div class="container account">
	<div class="row">
		<ul class="nav nav-pills top-nav">
  			<li role="presentation" class="active"><a href="#!/account/{{customerId}}">Profile</a></li>
  			<li role="presentation"><a href="#!/account/{{customerId}}/orders">My Orders</a></li>
  			<li role="presentation"><a href="#!/account/{{customerId}}/address-book">Address Book</a></li>
		</ul>
	</div>
	<div class = "row">
		<div class = "col-xs-12 col-md-6">
			<table class="table">
				<tr>
			    	<td>
			    		<div class="p-t-05">Title :</div>
			    	</td>
			    	<td>
			    		<select class="form-control" id="sel1">
    						<option>Mr</option>
    						<option>Mrs</option>
    						<option>Miss</option>
    						<option>Ms</option>
    						<option>Dr.</option>
    						<option>Rev.</option>
  						</select>
			    	</td>
				</tr>
     			<tr>
			    	<td>
			    		<div class="p-t-05">Name :</div>
			    	</td>
			    	<td>
			    		<input type="text" id="customerName" class="form-control" ng-model="customer.name">
			    	</td>
				</tr>
     			<tr>
			    	<td>
			    		<div class="p-t-05">Email :</div>
			    	</td>
			    	<td>
			    		<input type="text" id="customerEmail" class="form-control" ng-model="customer.email">
			    	</td>
				</tr>
				<tr>
			    	<td>
			    		<div class="p-t-05">Mobile :</div>
			    	</td>
			    	<td>
			    		<input type="text" id="customerMobile" class="form-control" ng-model="customer.mobile">
			    	</td>
				</tr>
				<tr>
					<td colspan="2">
						<a href="#!/account/{{customer.id}}" class="btn btn-primary">Cancel</a>			
						<a href="" class="btn btn-primary">Save Changes</a>
					</td>
				</tr>

			</table>
		</div>
	</div>
</div>
