<div class="container">
	<div class = "row login">
		<div class="col-md-6">
			<form name="regForm" ng-submit="regForm.$valid && registerCustomer()" novalidate>
			  <h3>Register now</h3>
			  <div id="error" ng-show="error" class="alert alert-danger width-60">{{errorMsg}}</div>
			  <div class="form-group">
			    <label for="registerTitle">Title</label>
			    <select class="form-control width-60" id="registerTitle" name="registerTitle" ng-model="customer.title">
			    			<option value="" disabled selected>Please select</option>
    						<option>Mr</option>
    						<option>Mrs</option>
    						<option>Miss</option>
    						<option>Ms</option>
    						<option>Dr.</option>
    						<option>Rev.</option>
  				</select>
			  </div>
			  <div class="form-group" ng-class="{'has-error': regForm.registerName.$invalid && (regForm.registerName.$touched || regForm.$submitted) }">
			    <label for="registerName">Name</label>
			    <input type="text" id="registerName" name="registerName" class="form-control width-60" ng-model="customer.name" placeholder="Enter name" required>
				<div id="registerNameMsg" ng-show="regForm.registerName.$touched || regForm.$submitted">
					<p ng-show="regForm.registerName.$error.required" class="help-block">
						Username is missing. Please check and try again.
					</p>
				</div>
			  </div>
			  <div class="form-group" ng-class="{'has-error': regForm.registerMobile.$invalid && (regForm.registerMobile.$touched || regForm.$submitted) }">
			    <label for="registerMobile">Mobile Number</label>
			    <input type="text" id="registerMobile" name="registerMobile" class="form-control width-60" ng-model="customer.mobile" ng-pattern="/^(?:0|\+?44)(?:\d\s?){9,10}$/" placeholder="Enter mobile">
				<div id="registerMobileMsg" ng-show="regForm.registerMobile.$touched || regForm.$submitted">
					<p ng-show="regForm.registerMobile.$error.pattern" class="help-block">
						Mobile is invalid. Please enter a valid UK number.
					</p>
				</div>
			  </div>
			  <div class="form-group" ng-class="{'has-error': regForm.registerEmail.$invalid && (regForm.registerEmail.$touched || regForm.$submitted) }">
			    <label for="registerEmail">Email</label>
			    <input type="email" id="registerEmail" name="registerEmail" class="form-control width-60" ng-model="customer.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" placeholder="Enter email" required>
				<div id="registerEmailMsg" ng-show="regForm.registerEmail.$touched || regForm.$submitted">
					<p ng-show="regForm.registerEmail.$error.required" class="help-block">
						Email is missing. Please check and try again.
					</p>
					<p ng-show="regForm.registerEmail.$error.pattern" class="help-block">
						Sorry, that email doesn’t look right. Please check it’s a proper email.
					</p>
				</div>
			  </div>
			  <div class="form-group" ng-class="{'has-error': regForm.registerPassword.$invalid && (regForm.registerPassword.$touched || regForm.$submitted) }">
			    <label for="registerPassword">Password</label>
			    <input type="password" id="registerPassword" name="registerPassword" class="form-control width-60" ng-model="customer.password" ng-minlength="8" ng-maxlength="50" ng-pattern="/(?=.*\d)(?=.*[a-zA-Z])/" placeholder="Enter Password" required>
				<div id="registerPasswordMsg" ng-show="regForm.registerPassword.$touched || regForm.$submitted">
					<p ng-show="regForm.registerPassword.$error.required" class="help-block">
						Password is missing. Please check and try again.
					</p>
					<p ng-show="regForm.registerPassword.$error.minlength" class="help-block">
						Sorry, that password is too short. It needs to be eight characters or more.
					</p>
					<p ng-show="regForm.registerPassword.$error.maxlength" class="help-block">
						Sorry, that password is too long. It can’t be more than 50 characters.
					</p>
					<p ng-show="regForm.registerPassword.$error.pattern" class="help-block">
						Pasword must contain a letter and a number.
					</p>
				</div>
			  </div>
			  <div class="form-group" ng-class="{'has-error': regForm.confirmPassword.$invalid && (regForm.confirmPassword.$touched || regForm.$submitted) }">
			    <label for="confirmPassword">Confirm Password</label>
			    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control width-60" ng-model="customer.confirmPassword" password-match="customer.password" placeholder="Confirm password" required>
				<div id="confirmPasswordMsg" ng-show="regForm.confirmPassword.$touched || regForm.$submitted">
					<p ng-show="regForm.confirmPassword.$error.required" class="help-block">
						Please confirm your password.
					</p>
					<p ng-show="!regForm.confirmPassword.$error.required && regForm.confirmPassword.$error.unique" class="help-block">
						Password does not match.
					</p>
				</div>
			  </div>
				<button id="registerBtn" type="submit" class="btn btn-default">Register</button>
			</form>
		</div> 
	</div>
</div>