html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.header {
    font-size: 1.2em;
}

.section {
	overflow: hidden;
	width: 80%;
}

.welcome-message {
  float: none !important;
  text-align: center;
}

.main-content{
  padding-top: 54px;
}

.product-list .product-price {
	font-weight: 400;
  font-size: 1.1em;
	color: #4c4445;
}

.product-list a:hover {
    text-decoration: none;
}

.product-list a:hover .product-name {
    color: #ff9600;
}

.product-list a:hover img {
    opacity: 0.8;
}

.product-list .icon {
    position: absolute;
    left: 0.3em;
    top: 0.3em;
}

@media (min-width:1200px){
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(2n+1){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(2n+1){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(2n+1){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(2n+1){clear:left;}
}

.product-header {
    font-size: 1.2em;
    background: #d9d9d9;
    color: #666;
    font-weight: bold;
    border-radius: 4px;
    border-left: 15px #7ba626 solid;
}
 
.product-header a {
    color: #666;
}

.light-border {
    border: 1px solid #e9e8e8;
}
 
.btn-add-to-cart,
.btn-add-to-cart:focus {
	background-color: #58CBD5;
	color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.0em;
}

.btn-add-to-cart:hover {
    opacity: 0.7;
}

.product-detail .price {
  color: #4c4445;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1.5%
}

.product-detail .related-products img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  /*padding-bottom: 2px;*/
}

.product-detail .related-products img.active {
  border: 2px solid transparent;
  border-color: #58CBD5;
}

.product-detail .related-products a:hover img {
/*  opacity: 0.8;*/
  border: 2px solid transparent;
  border-color: #58CBD5;
}

.product-detail .desc {
  color: #4c4445;
  /*font-weight: 300;
  font-size: 0.9em;*/
  width: 400px;
  margin-bottom: 2%;
}

.product-detail label {
  color: #4c4445;
  font-weight: 600;
  font-size: 1em;
}

.product-detail .qty {
	color: #4c4445;
  font-weight: 300;
}

/* Category page */
.panel-heading span {
    margin-top: -0.38em;
}

.panel-default > .filter-header {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    background: #d9d9d9;
    color: #505050;
    font-weight: bold;
    border-radius: 4px;
    border-left: 15px #7ba626 solid;
    height: 30px;
}

.sub-category a{
  color: #333;
}

.category-crumb {
  background: #fff;
  font-size: 1.0em;
  padding: 10px 0px;
  margin-bottom: 0px;
}

.category-crumb a {
    color: #333;
}

.category-info {
    font-size: 1.2em;
}

.btn-sort {
  width: 160px !important;
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.footer {
    background-color: #363636;
    color: #E9E9E9;
    height: auto;
    width: 100%;
}

/* account page */
.account {
  padding-top: 16px;
	color: #45555f;
}

.account .title {
	font-size: 1.3em;
	font-weight: bold;
	padding-bottom: 3%;
}

.account .top-nav .active a,
.account .top-nav .active a:hover {
    background-color: #337AB3;
    color: #fff;
    font-weight: 600;
}

.a-box {
  display: block;
  border: 1px solid #C0C0C0;
  border-radius: 4px;
}

.a-box-group>.a-box {
    margin-top: -1px;
    border-radius: 0;
}

.a-box-group>.a-box:first-child {
    border-radius: 4px 4px 0 0;
    margin-top: 0;
}

.a-box-group>.a-box:last-child {
    border-radius: 0 0 4px 4px;
}

.a-color-offset-background {
    background-color: #f6f6f6!important;
}

.a-dashed-box {
  display: block;
  border: 1px dashed #C0C0C0;
  border-radius: 4px;
}

.solid-border {
  border: 1px solid #C0C0C0;
}

.address .add-new {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
} 

.address .add-new .icon {
  text-align: center;
  color: #E5E8E8;
}

.address .add-new .text {
  text-align: center;
  font-weight: 700;
  color: #767676;
}

.address-selected {
  padding-left: 2.0em;
  padding-right: 2.0em;
}

.address .name {
	font-weight: bold;
}

.radio-cont {
  border: 2px solid #ddd;
  margin-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.radio-selected {
  border: 2px solid #7ba626 !important;
}

.btn-style-primary,
.btn-style-primary:focus {
  background-color: #f0c14b !important;
  border-color: #a88734 #9c7e31 #846a29 !important;
  color: #111 !important;
}

.btn-style-primary:hover {
  background-color: #eeb72b !important;
}

@media (max-width: 768px){
  .btn-style-primary {
    margin-top: 0.5em;
  }
}

.btn-style-secondary,
.btn-style-secondary:focus {
  background-color: #e7e9ec !important;
  border-color: #ADB1B8 #A2A6AC #8D9096 !important;
  color: #111 !important;
}

@media (max-width: 768px){
  .btn-style-secondary {
    margin-top: 0.5em;
  }
}

a.link-primary {
  color: #e47911;
}

a.link-primary:hover {
  color: #f0c14b;
}

a.link-secondary {
  color: #f2f2f2;
}

a.link-secondary:hover {
  color: #f0c14b;
}

.form-address {
  color: #324902;
}

/*dropdown menu*/
.dropdown:hover .dropdown-menu {
  display: block !important;
}

.scrollable-menu {
    height: auto;
    max-height: 700px;
    overflow-x: hidden;
}

ul.scrollable-menu {
    width: 400px;
}

ul.scrollable-menu img {
  width: 100px;
  height: 100px;
  overflow: hidden;
	border-style: solid;
	border-width: 0.5px;
	border-color: #F2F2F2;
}

/* cart page */
.cart {
    padding-top: 16px;
}

.cart .title {
    color: #4c4445;
    font-size: 1.3em;
    font-weight: bold;
}

.cart .product-name {
    color: #4c4445;
    font-size: 1.0em;
    font-weight: bold;
}

.cart .product-sku {
    color: grey; 
    font-weight: 200;
    text-transform: uppercase;
}

.cart .product-desc {
    font-weight: 300;
}

.cart .margin-top{
    margin-top: 3%; 
}

.cart .full-length {
    width: 100%;
}

.cart .text-info {
    font-style: italic;
}

.cart img.pay{
    width: 40px;
    height: 40px;
    overflow: hidden;
}

/* checkout page */

#branding-container {
    font-size: 12px;
    font-weight: 300;
    color: #000 !important;
}

.checkout {
    padding-top: 8px;
    padding-bottom: 8px;
}

.checkout-breadcrumb {
  margin-top: 20px;
  background: white;
  padding: 8px 0px;
}

.checkout-breadcrumb li{
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.checkout-breadcrumb .active {
  font-weight: bolder;
}

.checkout .header {
  color: #505050;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.checkout .prgress-label {
  color: #505050;
  font-weight: bold;
}

.checkout .border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.checkout .border-top {
  border-top: 1px solid #e5e5e5
}

.checkout .deliveryOption .eta {
  color: #090;
  font-weight: bold;
}

.checkout .order-confirmation {

}

.checkout .deliveryOption .desc {
  font-weight: 400;
  color: #888;
}

.payment {
  font-family: 'Lato', sans-serif;
}

.payment .desc {
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #505050;
}

.payment .note {
  font-weight: 300;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.payment button.btn-pay {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.1em
}

.payment label {
  font-weight: 400;
}

.order-summary {
  display: block;
  background: #f5f5f5;
  font-size: 1.0em;
  color: #505050;
  border-radius: 4px;
}

.order-summary-header {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.order-summary .title{
  font-weight: 600;
}

.order-summary .value{
  font-weight: 300;
}

@media (max-width: 992px){
  .order-summary {
    margin-top: 1.0em;
  }
}

a.clickable-label {
  text-decoration: none;
}

a.clickable-label:hover {
  opacity: 0.8;
}


/* utility class */
.p-t-02 { padding-top: 0.2em; }
.p-t-05 { padding-top: 0.5em; }
.p-t-10 { padding-top: 1.0em; }
.p-t-15 { padding-top: 1.5em; }
.p-t-20 { padding-top: 2.0em; }
.p-t-25 { padding-top: 2.5em; }
.p-t-30 { padding-top: 3.0em; }
.p-l-02 { padding-left: 0.2em; }
.p-l-05 { padding-left: 0.5em; }
.p-l-10 { padding-left: 1.0em; }
.p-l-15 { padding-left: 1.5em; }
.p-l-20 { padding-left: 2.0em; }
.p-l-25 { padding-left: 2.5em; }
.p-l-30 { padding-left: 3.0em; }
.p-b-02 { padding-bottom: 0.2em; }
.p-b-05 { padding-bottom: 0.5em; }
.p-b-10 { padding-bottom: 1.0em; }
.p-b-15 { padding-bottom: 1.5em; }
.p-b-20 { padding-bottom: 2.0em; }
.p-b-25 { padding-bottom: 2.5em; }
.p-b-30 { padding-bottom: 3.0em; }
.p-b-40 { padding-bottom: 4.0em; }
.p-r-02 { padding-right: 0.2em; }
.p-r-05 { padding-right: 0.5em; }
.p-r-10 { padding-right: 1.0em; }
.p-r-15 { padding-right: 1.5em; }
.p-r-20 { padding-right: 2.0em; }
.p-r-25 { padding-right: 2.5em; }
.p-r-30 { padding-right: 3.0em; }
.p-02 { padding-top: 0.2em; padding-left: 0.2em; padding-bottom: 0.2em; padding-right: 0.2em; }
.p-05 { padding-top: 0.5em; padding-left: 0.5em; padding-bottom: 0.5em; padding-right: 0.5em; }
.p-10 { padding-top: 1.0em; padding-left: 1.0em; padding-bottom: 1.0em; padding-right: 1.0em; }
.p-15 { padding-top: 1.5em; padding-left: 1.5em; padding-bottom: 1.5em; padding-right: 1.5em; }
.p-20 { padding-top: 2.0em; padding-left: 2.0em; padding-bottom: 2.0em; padding-right: 2.0em; }
.p-25 { padding-top: 2.5em; padding-left: 2.5em; padding-bottom: 2.5em; padding-right: 2.5em; }
.p-30 { padding-top: 3.0em; padding-left: 3.0em; padding-bottom: 3.0em; padding-right: 3.0em; }

.m-t-02 { margin-top: 0.2em; }
.m-t-05 { margin-top: 0.5em; }
.m-t-10 { margin-top: 1.0em; }
.m-t-15 { margin-top: 1.5em; }
.m-t-20 { margin-top: 2.0em; }
.m-t-25 { margin-top: 2.5em; }
.m-t-30 { margin-top: 3.0em; }
.m-l-02 { margin-left: 0.2em; }
.m-l-05 { margin-left: 0.5em; }
.m-l-10 { margin-left: 1.0em; }
.m-l-12 { margin-left: 1.2em; }
.m-l-15 { margin-left: 1.5em; }
.m-l-20 { margin-left: 2.0em; }
.m-l-25 { margin-left: 2.5em; }
.m-l-30 { margin-left: 3.0em; }
.m-r-02 { margin-right: 0.2em; }
.m-r-05 { margin-right: 0.5em; }
.m-r-10 { margin-right: 1.0em; }
.m-r-15 { margin-right: 1.5em; }
.m-r-20 { margin-right: 2.0em; }
.m-r-25 { margin-right: 2.5em; }
.m-r-30 { margin-right: 3.0em; }
.m-b-02 { margin-bottom: 0.2em; }
.m-b-05 { margin-bottom: 0.5em; }
.m-b-10 { margin-bottom: 1.0em; }
.m-b-15 { margin-bottom: 1.5em; }
.m-b-20 { margin-bottom: 2.0em; }
.m-b-25 { margin-bottom: 2.5em; }
.m-b-30 { margin-bottom: 3.0em; }

.fs-08 {font-size: 0.8em}
.fs-085 {font-size: 0.85em}
.fs-09 {font-size: 0.9em}
.fs-10 {font-size: 1.0em}
.fs-11 {font-size: 1.1em}
.fs-12 {font-size: 1.2em}
.fs-13 {font-size: 1.3em}
.fs-14 {font-size: 1.4em}
.fs-15 {font-size: 1.5em}
.fs-16 {font-size: 1.6em}
.fs-17 {font-size: 1.7em}
.fs-18 {font-size: 1.8em}
.fs-19 {font-size: 1.9em}
.fs-20 {font-size: 2.0em}

.fw-bold {font-weight: bold}
.fw-light {font-weight: 200}

.line-height-16 {line-height: 1.6;}

.width-60 {width: 60%;}

.color-matterhorn {
  color: #505050;
}

.color-tenne {
  color: #c45500;
}

.color-san-juan {
  color: #45555f;
}

.color-cream-can {
  color: #e47911;
}

.color-emperor {
  color: #4C4445;
}

.color-valencia {
  color: #D9534F;
}

.color-grey {
  color: #777777; 
}

.color-dark-grey {
  color: #1b1b1b;
}

.color-tiffany-green {
  color: #0ABAB5; 
}

.color-dark-grayish-orange {
  color: #a18f7a;
}

.text-line-through {
  text-decoration: line-through;  
}

.text-underline {
  text-decoration: underline;  
}

.clearLeft {
  clear: left;
}

.clearRight {
  clear: right;
}

.border {
  border-style: solid;
}

.required-field::after {
    content: "*";
    color: red;
}

.underline {
    border-bottom: 2px solid #E8E8E8;
    width: 100%;
    display: block;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: #eee;
}

.opacity-05 {
    opacity: 0.5; 
}

/* animation */
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

div > .glyphicon-thumbs-up:hover  {
    color: #e47911; 
    cursor: pointer;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.blog-article {
    background-color: #ffffff;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    font-family: sans-serif;
    line-height: 1.7;
    font-weight: 300;
    font-size: 1.2em;
}

.blog-article .post-date {
    color: grey;
    font-size: 0.9em;
    font-style: italic;
}

.blog-article .post-summary {
    font-style: italic;
}

.blog-decorative-bg {
    text-align: center;
    background-image: url("/images/category.svg");
    background-repeat: no-repeat;
    background-size: 90px 8px;
    background-position: center bottom;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

a.category {
    color: #a18f7a;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-decoration: none;
}