html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.section {
	overflow: hidden;
	width: 80%;
}

.content { 
	padding-top: 80px; 
	font-family: Verdana, Helvetica, sans-serif;
}

.productItem {
  padding-bottom:2em;
}

.productItem .price{
	font-weight: bold;		
	color: #324902;
}

.productItem .name{	
	color: #1D2807;
  font-size: 1em;
}

.productItem img {
	width:200px;
	height:200px;
	overflow:hidden;
}

.productItem .quantity {
		margin-left:90px;
    width:40px;
}
 
.btn-add {
		background-color: #536F19;
		color: #E8E8E8;
}

.productDetail .productName {
    color: #1D2807;
    font-size: 1.6em;
    text-transform: uppercase;
    margin-bottom: 2.5%
}

.productDetail .productType {
    color: #1D2807;
    font-size: 1em;
    margin-bottom: 2.5%
}

.productDetail .productDesc {
    color: #1D2807;
    font-size: 1em;
    margin-bottom: 3%
}

.productDetail .quantity {
		margin-left:90px;
    width:60px;
    height:40px;
}

.productDetail .productPrice {
    color: #324902;
    font-size: 2em;    
    margin-right: 10%;
}


.footer {
    background-color: #363636;
    color: #E9E9E9;
    height: auto;
    width: 100%;
    padding: 1% 0px 1.3%; 
}

.footerContent {
    margin: 0px auto;
}

.footerColumn {
    float: left;
    width: 21%;
    margin: 0px 2% 0px 2%; 
}

.footerColumn h3 {
    font-size: 0.8em;
    font-family: Helvetica,sans-serif;
    text-transform: uppercase;
}

.footerColumn ul{
	font-size: 0.75em;
	font-family: Arial, Helvetica;
	list-style-type: none;
	padding: 0px;
}

.footerColumn ul li{
	padding: 0.4em 0px;
}

.login {
	color: #455560;
}

.login .textInputLength {
	width: 60%;
}

.login form {
	padding-bottom: 7%;
}

.login h3 {
	padding-bottom: 2%;
}

.login button {
	font-weight: bold;	
	background-color: #455560;		
	color: #E8E8E8;
}


