html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.section {
	overflow: hidden;
	width: 80%;
}

.content { 
	padding-top: 80px; 
	font-family: Verdana, Helvetica, sans-serif;
}

.welcome-message {
    float: none !important;
    text-align: center;
}

.productItem {
  	padding-bottom:2em;
}

.productItem .price{
	font-weight: bold;		
	color: #324902;
}

.productItem .name{	
	color: #1D2807;
  	font-size: 1em;
}

.productItem img {
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.productItem .quantity {
	margin-left: 90px;
    width: 40px;
}
 
.btn-add {
	background-color: #536F19;
	color: #E8E8E8;
}

.productDetail .productName {
    color: #1D2807;
    font-size: 1.6em;
    text-transform: uppercase;
    margin-bottom: 2.5%
}

.productDetail .productType {
    color: #1D2807;
    font-size: 1em;
    margin-bottom: 2.5%
}

.productDetail .productDesc {
    color: #1D2807;
    font-size: 1em;
    margin-bottom: 3%
}

.productDetail .quantity {
	margin-left:90px;
    width:60px;
    height:40px;
}

.productDetail .productPrice {
    color: #324902;
    font-size: 2em;    
    margin-right: 10%;
}


.footer {
    background-color: #363636;
    color: #E9E9E9;
    height: auto;
    width: 100%;
    padding: 1% 0px 1.3%; 
}

.footerContent {
    margin: 0px auto;
}

.footerColumn {
    float: left;
    width: 21%;
    margin: 0px 2% 0px 2%; 
}

.footerColumn h3 {
    font-size: 0.8em;
    font-family: Helvetica,sans-serif;
    text-transform: uppercase;
}

.footerColumn ul{
	font-size: 0.75em;
	font-family: Arial, Helvetica;
	list-style-type: none;
	padding: 0px;
}

.footerColumn ul li{
	padding: 0.4em 0px;
}

/* login page */
.login {
	color: #45555f;
}

.login .textInputLength {
	width: 60%;
}

.login form {
	padding-bottom: 7%;
}

.login h3 {
	padding-bottom: 2%;
}

.login button {
	font-weight: bold;	
	background-color: #455560;		
	color: #E8E8E8;
}

/* account page */
.account {
	color: #45555f;
}

.account .row {
	padding-bottom: 3%;
}

.account .title {
	font-size: 1.3em;
	font-weight: bold;
	padding-bottom: 3%;
}

.address {
	font-family: "Lucida Console", Monaco, monospace;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

.address .name {
	font-weight: bold;
}

.address .line{
	padding-bottom: 0.5%;
}

/*dropdown menu*/
.scrollable-menu {
    height: auto;
    max-height: 800px;
    overflow-x: hidden;
}

ul.dropdown-menu{
    width: 300px;
}

ul.dropdown-menu img{
    width: 100px;
    height: 100px;
    overflow: hidden;
	border-style: solid;
	border-width: 0.5px;
	border-color: #F2F2F2;
}

ul.dropdown-menu .productPrice{
    margin-top: 2.5%;
	font-weight: bold;
    color: #324902;
    font-size: 0.8em;
} 

ul.dropdown-menu .productName{
	font-weight: bold;
    color: #1D2807;
    font-size: 0.8em;
    text-transform: uppercase;
} 

ul.dropdown-menu .productQty{
    color: #324902;
    font-size: 0.8em;
} 

ul.dropdown-menu .btn-view {
	background-color: #536F19;
	color: #E8E8E8;
}

ul.dropdown-menu .btn-remove {
	margin-right: 15%;
	color: #99AA77;
}

/* cart page */
.cart {
    color: #45555f;
}

.cart .title {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 3%;
}

.cart img.product{
    width: 130px;
    height: 130px;
    overflow: hidden;
}

.cart .padding-left{
    padding-left: 3%; 
}

.cart .margin-top{
    margin-top: 3%; 
}

.cart .space {
    height: 130px;
    width: 30%;
}

.cart .btn-checkout {
    background-color: #536F19;
    color: #E8E8E8;
    width: 100%;
    font-weight: bold;
}

.cart .full-length {
    width: 100%;
}

.cart .text-info {
    font-style: italic;
}

.cart img.pay{
    width: 40px;
    height: 40px;
    overflow: hidden;
}
