<!DOCTYPE html>
<html lang="en">
	<head>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<link href="dist/cawaii.css" rel="stylesheet" type="text/css"/>
		<meta charset="UTF-8">
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<title>Product Page</title>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="bower_components/angular-resource/angular-resource.min.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
	</head>

	<body>
	<div ng-app="store" ng-controller="appCtrl" id="store">
			<div class="header navbar navbar-default navbar-fixed-top" ng-show="isNotCheckOutPage()">
				<div class="container-fluid">
					<div class="navbar-header">					
						<a href="#" class = "navbar-brand"><img src = "/images/logo1.png" style="height:30px;"></a>
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target= "#navHeaderCollapse">
			        		<span class="icon-bar"></span>
    			    		<span class="icon-bar"></span>
    			    		<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collpase navbar-collapse" id="navHeaderCollapse">
						<ul class="nav navbar-nav navbar-left">
							<li><a href="#/products">地区美食</a></li>
							<li><a href="#/products">休闲零食</a></li>
							<li><a href="#/products">方便速食</a></li>
							<li><a href="#/products">今日特卖</a></li>
						</ul>				
						<ul class="nav navbar-nav navbar-right">
							<li ng-show="currentUser" class="navbar-text">欢迎光临, {{currentUser}}!</li>
							<li><a id="login" href="#/login"><span class="glyphicon glyphicon-user"></span></a></li>
							<li class="dropdown">
								<a href="#/cart" class="dropdown-toggle" data-toggle="dropdown">
									<span class="glyphicon glyphicon-shopping-cart"></span>
									<span ng-show="cartUid"> {{totalQuantity}} items - £{{totalPrice}} <span class="caret"></span></span>
								</a>
								<ul class="dropdown-menu scrollable-menu">
									<div ng-repeat="cartItem in cartItems | orderBy:'productId'">
                                  		<li>
                							<div class = "row">
												<div class = "col-md-4">
													<img class="img-responsive" ng-src="{{cartItem.imageUrl}}">
												</div>
												<div class = "col-md-6">
													<div class="productPrice">£{{cartItem.productPrice}}</div>
													<div class="productName">{{cartItem.productName}}</div>
													<div class="productQty">Qty {{cartItem.quantity}}</div>
												</div>
												<div class = "col-md-2">
													<a href ng-click="removeItem(cartItem)">
														<span class="glyphicon glyphicon-remove pull-right btn-remove"></span>
													</a>
												</div>
											</div>
										</li>
										<li class='divider'></li>
									</div>										
                					<li><a href='#/cart' class='btn btn-view'>查看菜篮子</a></li>
              					</ul>
							</li>
							<li ng-show="currentUser"><a href ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span></a></li>
						</ul>				
					</div>
				</div>
			</div>			

			<div class="content" ng-style="{'padding-top':paddingTop}">
				<div ng-view></div>
			</div>


			<div class = "footer" ng-show="isNotCheckOutPage()">
				<div class = "footerContent section">
    					<div class="footerColumn">
        					<h3>Products</h3>
        					<ul>
							<li>New in store</li>
							<li>Current offers</li>
						</ul>

    					</div>     
    					<div class="footerColumn">
	        				<h3>Questions and Contact</h3>
        					<ul>
							<li>Customer service</li>
							<li>Terms</li>
							<li>Faq</li>
							<li>Contact</li>
						</ul>
    					</div>  
    					<div class="footerColumn">
        					<h3>Connect with us</h3>
        					<ul>
							<li>Facebook</li>
							<li>Twitter</li>
							<li>Blog</li>
							<li>Newsletter</li>
						</ul>
    					</div>  
    					<div class="footerColumn">
        					<h3>About us</h3>
        					<ul>
							<li>About Albert & Lynette</li>
						</ul>
    					</div>   
				</div>
			</div>
	</div>
	<script src="dist/cawaii.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
			<script>
$('ul.nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
});
		</script>
	</body>
</html>
