<div class="container-fluid checkout">
   <div class="row">
      <div class="col-sm-12 hidden-xs">
         <ul class="breadcrumb checkout-breadcrumb">
            <li>Shipping</li>
            <li>Delivery</li>
            <li class="active">Billing</li>
            <li>Payment</li>
            <li>Confirm</li>
         </ul>
      </div>
   </div>
   <div class = "row">
      <div class = "col-md-8">
         <div class="header border-bottom p-b-05">Billing Address</div>
         <div class ="row p-t-05">
            <div class="col-sm-8 checkbox">
               <label><input type="checkbox" value="" ng-checked="sameAsShipping" ng-click="check()">Same as Shipping Address</label>
            </div>
            <div class="col-sm-4" ng-show="sameAsShipping">
               <button class="btn btn-block btn-style" ng-click="continue()">Continue</button>
            </div>
         </div>
         <div ng-class="sameAsShipping ? 'ng-hide' : 'animated fadeIn'">
            <div ng-repeat="address in addresses">
               <div class="row p-t-10 p-b-10 border-bottom">
                  <div class="col-sm-8 address">
                     <input type="radio" name="address" ng-checked="selected===$index" ng-click="select($index, address)">
                     <span class="name">{{address.fullname}}</span>
                     <div class="m-l-12">{{address.address1}}</div>
                     <div class="m-l-12">{{address.address2}}</div>
                     <div class="m-l-12">{{address.city}}, {{address.postcode}}</div>
                     <div class="m-l-12">{{address.country}}</div>
                  </div>
                  <div class="col-sm-4" ng-show="selected===$index">
                     <button class="btn btn-block btn-style" ng-click="continue()">Continue</button>
                  </div>
               </div>
            </div>
            <div class="row p-t-05 p-b-05">
               <div class="col-sm-6">
                  <button class="btn btn-block btn-style" ng-click="">Add a new address</button>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <summary></summary>
      </div>
   </div>
</div>