<div class="container-fluid checkout">
   <div class="row">
      <div class="col-sm-12 hidden-xs">
         <ul class="breadcrumb checkout-breadcrumb">
            <li>Shipping</li>
            <li class="active">Delivery</li>
            <li>Billing</li>
            <li>Payment</li>
            <li>Confirm</li>
         </ul>
      </div>
   </div>
   <div class = "row">
      <div class = "col-md-8">
         <div class="header border-bottom p-b-05">Delivery Method</div>
         <div ng-repeat="deliveryOption in deliverOptions">
            <div class="row p-t-10 p-b-10 border-bottom">
               <div class="col-sm-8 deliveryOption">
                  <input type="radio" name="deliveryOption" ng-checked="selected===$index" ng-click="select($index, deliveryOption)">
                  <span class="desc">{{deliveryOption.description}}</span>
                  <span class="cost">&nbsp;&nbsp;&nbsp;&nbsp;{{deliveryOption.cost | currency:"£"}}</span>
                  <div class="info m-l-12">{{deliveryOption.info}}</div>
               </div>
               <div class="col-sm-4" ng-show="selected===$index">
                  <button class="btn btn-block btn-style" ng-click="continue()">Continue</button>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="order-summary p-10">
            <div class="order-summary-header border-bottom p-b-05">Order Summary</div>
            <div class = "row p-t-05 p-b-05">
               <div class="col-xs-6">
                  <span class="title">Shipping</span>
                  <div class="value">22 Brampton House</div>
                  <div class="value">17 Albatross Way</div>
                  <div class="value">London, SE167EB</div>
                  <div class="value">United Kingdom</div>
                  <div class="value">T: 07745324432</div>
               </div>
            </div>
            <div class = "row p-t-05">
               <div class="col-xs-6">
                  <span class="title">Subtotal</span>
               </div>
               <div class="col-xs-6">
                  <span class="value pull-right">{{30 | currency:"£"}}</span>
               </div>
            </div>   
            <div class = "row p-t-05 p-b-05">
               <div class="col-xs-6">
                  <span class="title">Shipping</span>
               </div>
               <div class="col-xs-6">
                  <span class="value pull-right">FREE</span>
               </div>
            </div>
            <div class = "row border-top p-t-05">
               <div class="col-xs-6">
                  <span class="title">Total</span>
                  <div class="value">
                     incl. VAT ({{10 | currency:"£"}})
                  </div>
               </div>
               <div class="col-xs-6">
                  <span class="value pull-right">{{30 | currency:"£"}}</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>