<div class="container checkout">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-4">
                    <p class="prgress-label" style="text-align: left;">Shipping</p>
                </div>
                <div class="col-xs-4">
                    <p class="prgress-label" style="text-align: center;">Payment</p>
                </div>
                <div class="col-xs-4">
                    <p class="prgress-label" style="text-align: right;">Review Order</p>
                </div>
                <div class="col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-xs-12 deliveryOption">
                    <div class="header p-b-05">Delivery options</div>
                    <div ng-repeat="deliveryOption in deliverOptions">
                        <div class="solid-border p-15">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8">
                                    <div class="pull-left" style="top: 35%; position: absolute;">
                                        <input type="radio" ng-checked="selected===$index" ng-click="select($index, address)">
                                    </div>
                                    <div class="m-l-20">
                                        <div class="eta">{{deliveryOption.eta}}</div>
                                        <div class="desc">
                                            <span ng-show="deliveryOption.charge > 0">{{deliveryOption.charge | currency:'£'}} - </span>
                                            {{deliveryOption.method}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4" ng-show="selected===$index">
                                    <button class="btn btn-block btn-style-primary" ng-click="saveDeliveryOption(deliveryOption)">
                                        <span ng-show="saveDeliveryOptionLoading"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                        Continue
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="order-summary p-10">
                <div class="order-summary-header border-bottom p-b-05">Order Summary</div>
                <div class="row p-t-05 p-b-05">
                    <div class="col-xs-6">
                        <span class="title">Shipping</span>
                        <div class="value">22 Brampton House</div>
                        <div class="value">17 Albatross Way</div>
                        <div class="value">London, SE167EB</div>
                        <div class="value">United Kingdom</div>
                        <div class="value">T: 07745324432</div>
                    </div>
                </div>
                <div class="row p-t-05">
                    <div class="col-xs-6">
                        <span class="title">Subtotal</span>
                    </div>
                    <div class="col-xs-6">
                        <span class="value pull-right">{{30 | currency:"£"}}</span>
                    </div>
                </div>
                <div class="row p-t-05 p-b-05">
                    <div class="col-xs-6">
                        <span class="title">Shipping</span>
                    </div>
                    <div class="col-xs-6">
                        <span class="value pull-right">FREE</span>
                    </div>
                </div>
                <div class="row border-top p-t-05">
                    <div class="col-xs-6">
                        <span class="title">Total</span>
                        <div class="value">
                            incl. VAT ({{10 | currency:"£"}})
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <span class="value pull-right">{{30 | currency:"£"}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>