<div class="container checkout">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-4">
                    <p class="prgress-label" style="text-align: left;">Shipping</p>
                </div>
                <div class="col-xs-4">
                    <p class="prgress-label" style="text-align: center;">Payment</p>
                </div>
                <div class="col-xs-4">
                    <p class="prgress-label" style="text-align: right;">Review Order</p>
                </div>
                <div class="col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-xs-12 address">
                    <div class="header p-b-05">Shipping Address</div>
                    <div ng-repeat="address in addresses | orderBy :'defaultAddress' : true">
                        <div class="solid-border p-15">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8">
                                    <div class="pull-left" style="top: 35%; position: absolute;">
                                        <input type="radio" ng-checked="selected===$index" ng-click="select($index, address)">
                                    </div>
                                    <div class="m-l-20">
                                        <div class="name">{{address.title}} {{address.name}}</div>
                                        <div>{{address.addressLine1}}</div>
                                        <div>{{address.addressLine2}}</div>
                                        <div>{{address.city}}, {{address.postcode}}</div>
                                        <div>{{address.country}}</div>
                                        <div>T: {{address.mobile}}</div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4" ng-show="selected===$index">
                                    <button class="btn btn-block btn-style-primary" ng-click="saveAddress(address)">
                                        <span ng-show="saveAddressLoading"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                        Deliver to this address
                                    </button>
                                    <button class="btn btn-block btn-style-secondary" data-toggle="modal" data-target="#addressform">
                                        Edit address
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-t-05 p-b-05">
                        <div class="col-sm-6">
                            <button class="btn btn-block btn-style-primary" ng-click="">Add a new address</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <summary></summary>
        </div>
    </div>

    <div class="modal fade" id="addressform" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Update your delivery address</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="fullname">Full Name</label>
                            <div class="col-sm-10">
                                <input type="text" id="fullname" class="form-control" ng-model="address.fullname" placeholder="Full Name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="address1">Address 1</label>
                            <div class="col-sm-10">
                                <input type="text" id="address1" class="form-control" ng-model="address.address1" placeholder="Address 1" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="address1">Address 2</label>
                            <div class="col-sm-10">
                                <input type="text" id="address2" class="form-control" ng-model="address.address2" placeholder="Address 2" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="city">City</label>
                            <div class="col-sm-10">
                                <input type="text" id="city" class="form-control" ng-model="address.city" placeholder="City" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="postcode">Postcode</label>
                            <div class="col-sm-10">
                                <input type="text" id="postcode" class="form-control" ng-model="address.postcode" placeholder="Postcode" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="country">Country</label>
                            <div class="col-sm-10">
                                <input type="text" id="country" class="form-control" ng-model="address.country" placeholder="Country" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="telephone">Telephone</label>
                            <div class="col-sm-10">
                                <input type="text" id="telephone" class="form-control" ng-model="address.phone" placeholder="Telephone" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>